<div class="tipContents">
    <h3>Creating Your Path</h3>
    <p>Click on the heading to give your path a title.</p>
    <p>Drag-and-drop your choice of three Path Skills from the menu on the right, representing how walking this Path has shaped you. Each Skill can be associated with a maximum of two Paths.</p>
    <p>Describe in general terms the potential Connections you can draw upon by Invoking this Path during play.</p>
    <p>Finally, define your Suspension Condition and your Revocation Condition.</p>
    <i></i>
</div>