/* #region IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash:wght@400&family=Della+Respira:wght@400&family=Overlock+SC:wght@400&family=Marcellus+SC:wght@400&family=Amarante:wght@400&family=Finger+Paint:wght@400&family=Grenze+Gotisch:wght@400&family=Pirata+One:wght@400&family=Poiret+One:wght@400&family=Righteous:wght@400&family=Reem+Kufi:wght@400&family=Yatra+One:wght@400&family=Julius+Sans+One:wght@400&display=swap");
@use "sass:string";
/* Utilities */
/* Globals: All Sheets */
textarea,
input[type="text"],
select {
  height: 100%;
  width: 100%;
  min-height: unset;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.readonly {
  pointer-events: none;
  resize: none;
  overflow: hidden;
}

.grid {
  display: grid;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 0;
  grid-gap: 0.25rem;
}

.text {
  color: var(--fontColorBody);
  font-family: var(--fontFamilyBody);
  font-size: var(--fontSizeBody);
}

.dot {
  display: inline-block;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid black;
}

/* Layout */
/* SCION ACTOR: All Scion Actors */
.scion.actor {
  pointer-events: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
}

.scion.actor header.window-header.flexrow.draggable.resizable {
  width: 65%;
  position: relative;
  z-index: 2;
  margin-bottom: -30px;
  margin-left: 20%;
  padding-left: 5%;
  border: none;
  overflow: visible;
}

.scion.actor header.window-header.flexrow.draggable.resizable h4.window-title {
  display: none;
}

.scion.actor header.window-header.flexrow.draggable.resizable a.header-button {
  pointer-events: all;
  height: 1rem;
}

.scion.actor header.window-header.flexrow.draggable.resizable::before {
  background-image: url("https://i.imgur.com/ADtHyUx.png");
  background-size: 80%;
  pointer-events: all;
  cursor: move;
  display: block;
  width: 100px;
  height: 100px;
  content: "";
  position: relative;
  background-repeat: no-repeat;
  left: -45%;
  bottom: -50%;
  background-color: red;
  border-radius: 50%;
  background-position: center;
}

.scion.actor div.window-resizable-handle {
  display: none;
  bottom: 6%;
  right: 6%;
  z-index: 3;
  pointer-events: all;
}

.scion.actor .window-content {
  color: var(--fontColorBody);
  padding: 0px;
  background: var(--bgColorMatte);
  pointer-events: all;
  border-radius: 25%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

@-webkit-keyframes characterSheet {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes characterSheet {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.scion.actor .Character .grid.main {
  height: 100%;
  width: 100%;
  padding: 0 2.8%;
  background: var(--bgColorMatte);
  background-image: var(--bgImage);
  background-size: 100%;
  background-repeat: repeat-y;
  opacity: 1;
  -webkit-animation-name: characterSheet;
  animation-name: characterSheet;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  grid: ". nav ." 1.5rem "header header header" 5.25rem "body body body" auto ". footer ." 1.5rem /10% 1fr 10%;
}

.scion.actor .Character .grid.main .sheet-tabs {
  grid-area: nav;
  height: 1.5rem;
  margin: 0px;
  border: none;
}

.scion.actor .Character .grid.main .sheet-tabs .item {
  line-height: 1.5rem;
  font-weight: bold;
  font-size: 1rem;
  text-shadow: none;
}

.scion.actor .Character .grid.main .sheet-tabs .item.icon {
  height: 20px;
  width: 20px;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  margin: 10px 5% -10px 5%;
}

.scion.actor .Character .grid.main .sheet-tabs .item:hover {
  background-color: var(--bgColorSoft);
}

.scion.actor .Character .grid.main .sheet-tabs .item.active {
  background-color: var(--bgColorStrong);
}

.scion.actor .Character .grid.main .header {
  grid-area: header;
}

.scion.actor .Character .grid.main .header .grid {
  grid: ". charName . healthDisplay" 0.75rem "legendDisplay charName . healthDisplay" 1.5rem "legendDisplay parentage . ." 0.75rem "legendDisplay parentage . xpDisplay" 0.75rem ". title . xpDisplay" 1.5rem/150px 1fr 50px 100px;
  grid: "charName" 2.25rem "parentage" 1.5rem "title" 1.5rem;
  grid-gap: 0;
}

.scion.actor .Character .grid.main .header .grid .legendDisplay {
  grid-area: legendDisplay;
  display: none;
}

.scion.actor .Character .grid.main .header .grid .charName {
  grid-area: charName;
}

.scion.actor .Character .grid.main .header .grid .charName input[type="text"] {
  color: var(--fontColorTitle);
  background-color: var(--bgColorTitle);
  font-family: var(--fontFamilyTitle);
  font-style: var(--fontStyleTitle);
  font-variant: var(--fontVariantTitle);
  font-weight: var(--fontWeightTitle);
  text-transform: var(--textTransformTitle);
  font-size: var(--fontSizeTitle);
  text-shadow: var(--textShadowTitle);
  text-align: center;
  line-height: 1.5rem;
}

.scion.actor .Character .grid.main .header .grid .healthDisplay {
  grid-area: healthDisplay;
  display: none;
}

.scion.actor .Character .grid.main .header .grid .parentage {
  grid-area: parentage;
}

.scion.actor .Character .grid.main .header .grid .parentage textarea {
  color: var(--fontColorSubTitle);
  background-color: var(--bgColorSubTitle);
  font-family: var(--fontFamilySubTitle);
  font-style: var(--fontStyleSubTitle);
  font-variant: var(--fontVariantSubTitle);
  font-weight: var(--fontWeightSubTitle);
  text-transform: var(--textTransformSubTitle);
  font-size: var(--fontSizeSubTitle);
  text-shadow: var(--textShadowSubTitle);
  text-align: center;
  line-height: 1rem;
}

.scion.actor .Character .grid.main .header .grid .title,
.scion.actor .Character .grid.main .header .grid .title input[type="text"] {
  grid-area: title;
  color: var(--fontColorSubSubTitle);
  background-color: var(--bgColorSubSubTitle);
  font-family: var(--fontFamilySubSubTitle);
  font-style: var(--fontStyleSubSubTitle);
  font-variant: var(--fontVariantSubSubTitle);
  font-weight: var(--fontWeightSubSubTitle);
  text-transform: var(--textTransformSubSubTitle);
  font-size: var(--fontSizeSubSubTitle);
  text-shadow: var(--textShadowSubSubTitle);
  text-align: center;
  line-height: 1rem;
}

.scion.actor .Character .grid.main .header .grid .xpDisplay {
  grid-area: xpDisplay;
  display: none;
}

.scion.actor .Character .grid.main .sheet-body {
  grid-area: body;
}

.scion.actor .Character .grid.main .sheet-body .settings .grid {
  grid: "tier pantheon heritage parent" 2rem / 12% 20% 15% 1fr;
}

.scion.actor .Character .grid.main .sheet-body .settings .grid .tier {
  grid-area: tier;
}

.scion.actor .Character .grid.main .sheet-body .settings .grid .pantheon {
  grid-area: pantheon;
}

.scion.actor .Character .grid.main .sheet-body .settings .grid .parent {
  grid-area: parent;
}

.scion.actor .Character .grid.main .sheet-body .settings .grid .heritage {
  grid-area: heritage;
}

.scion.actor .Character .grid.main .sheet-body .front .grid {
  grid: "attributes paths"  10rem "virtues paths" 2rem / 1fr 2fr;
}

.scion.actor .Character .grid.main .sheet-body .front .grid .attributes {
  grid-area: attributes;
}

.scion.actor .Character .grid.main .sheet-body .front .grid .paths {
  grid-area: paths;
}

.scion.actor .Character .grid.main .sheet-body .front .grid .virtues {
  grid-area: virtues;
}

.scion.actor .Character .grid.main .sheet-body .heritage .grid {
  grid: "heritage heritage" 4rem "paths paths" 10rem "virtues ." 2rem / 1fr 1fr;
}

.scion.actor .Character .grid.main .sheet-body .heritage .grid .heritage {
  grid-area: attributes;
}

.scion.actor .Character .grid.main .sheet-body .heritage .grid .paths {
  grid-area: paths;
}

.scion.actor .Character .grid.main .sheet-body .heritage .grid .virtues {
  grid-area: virtues;
}

.scion.actor .Character .grid.main .sheet-body .details .grid {
  grid: "attributes paths" 8rem "virtues paths" 20rem / 1fr 2fr;
}

.scion.actor .Character .grid.main .sheet-body .details .grid .attributes {
  grid-area: attributes;
}

.scion.actor .Character .grid.main .sheet-body .details .grid .paths {
  grid-area: paths;
}

.scion.actor .Character .grid.main .sheet-body .details .grid .virtues {
  grid-area: virtues;
}

.scion.actor .Character .grid.main .sheet-body .experience .grid {
  grid: "paths" 4rem "virtues" 10rem / 1fr;
}

.scion.actor .Character .grid.main .sheet-body .experience .grid .paths {
  grid-area: paths;
}

.scion.actor .Character .grid.main .sheet-body .experience .grid .virtues {
  grid-area: virtues;
}

.scion.actor {
  --bgColorMatte: #fff;
  --fontColorTitle: #000;
  --bgColorTitle: transparent;
  --fontFamilyTitle: "Marcellus SC";
  --fontStyleTitle: normal;
  --fontVariantTitle: normal;
  --fontWeightTitle: normal;
  --textTransformTitle: none;
  --fontSizeTitle: 1.8rem;
  --textShadowTitle: -1px -1px 0px rgba(0, 0, 0, 0.5), 1px 1px 0px rgba(255, 255, 255, 0.5);
  --fontColorSubTitle: var(--fontColorTitle);
  --bgColorSubTitle: var(--bgColorTitle);
  --fontFamilySubTitle: "Marcellus SC";
  --fontStyleSubTitle: normal;
  --fontVariantSubTitle: normal;
  --fontWeightSubTitle: normal;
  --textTransformSubTitle: none;
  --fontSizeSubTitle: 1rem;
  --textShadowSubTitle: -1px -1px 0px rgba(0, 0, 0, 0.5), 1px 1px 0px rgba(255, 255, 255, 0.5);
  --fontColorSubSubTitle: var(--fontColorTitle);
  --bgColorSubSubTitle: var(--bgColorTitle);
  --fontFamilySubSubTitle: "Overlock SC";
  --fontStyleSubSubTitle: normal;
  --fontVariantSubSubTitle: normal;
  --fontWeightSubSubTitle: normal;
  --textTransformSubSubTitle: none;
  --fontSizeSubSubTitle: 1rem;
  --textShadowSubSubTitle: -1px -1px 0px rgba(0, 0, 0, 0.5), 1px 1px 0px rgba(255, 255, 255, 0.5);
  --fontColorBody: #000;
  --fontFamilyBody: "Overlock SC";
  --fontSizeBody: 1rem;
}

.scion.actor .netjer {
  --bgImage: url("https://i.imgur.com/yflp59R.jpg");
  --bgColorMatte: #f6f0e2;
  --bgColorSoft: #fdd8b7;
  --bgColorStrong: #f99c4b;
  --fontColorTitle: #554a39;
  --fontFamilyTitle: "Yatra One";
  --fontColorSubTitle: #6e4a28;
  --fontFamilySubTitle: "Reem Kufi";
  --fontColorSubSubTitle: #554a39;
  --fontWeightSubSubTitle: bold;
  --fontColorBody: #2d2d2f;
}

.scion.actor .tuathaDeDanann {
  --bgImage: none;
  --bgColorMatte: #efffd1;
  --bgColorSoft: #c7f8c4;
  --bgColorStrong: #73ed6c;
  --fontColorTitle: #296f17;
  --fontFamilyTitle: "Berkshire Swash";
  --fontColorSubTitle: #19430e;
  --fontFamilySubTitle: "Della Respira";
  --fontStyleSubTitle: italic;
  --fontColorSubSubTitle: #296f17;
  --fontWeightSubSubTitle: bold;
  --fontColorBody: #1a211d;
}

/* SCION ITEMS: All Scion Items */
/* #endregion */
