@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");
/* Layout styles */
.grid {
  display: grid;
  height: auto;
  grid-gap: 0px;
  position: absolute;
  z-index: 20000;
  overflow: hidden;
}

.scion .grid {
  width: 800px;
  grid: "header header header header header header" 100px "attributes attributes paths paths paths paths" 150px "attributes attributes paths paths paths paths" 150px "attributes attributes paths paths paths paths" 150px  "virtues virtues paths paths paths paths" 60px / 1fr 1fr 1fr 1fr 1fr 1fr;
}

.scion .grid .header {
  grid-area: header;
  background-color: #ccffff;
  text-align: center;
  font-family: "Metamorphous";
  color: black;
  font-size: 32px;
}

.scion .grid .attributes {
  grid-area: attributes;
  background-color: #ffccff;
}

.scion .grid .paths {
  grid-area: paths;
  background-color: #ffffcc;
}

.scion .grid .virtues {
  grid-area: virtues;
  background-color: #ccffff;
}

/* Styles limited to scion sheets */
.scion .item-form {
  font-family: "Roboto", sans-serif;
}

.scion .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 210px;
  flex: 0 0 210px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.scion .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}

.scion .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.scion .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.scion .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.scion .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.scion .sheet-body,
.scion .sheet-body .tab,
.scion .sheet-body .tab .editor {
  height: 100%;
}

.scion .tox .tox-editor-container {
  background: #fff;
}

.scion .tox .tox-edit-area {
  padding: 0 8px;
}

.scion .resource-label {
  font-weight: bold;
  text-transform: uppercase;
}

.scion .tabs {
  height: 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

.scion .tabs .item {
  line-height: 40px;
  font-weight: bold;
}

.scion .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.scion .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}

.scion .items-list .item-header {
  font-weight: bold;
}

.scion .items-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}

.scion .items-list .item .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 5px;
}

.scion .items-list .item img {
  display: block;
}

.scion .items-list .item-name {
  margin: 0;
}

.scion .items-list .item-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 86px;
  flex: 0 0 86px;
  text-align: right;
}
