/* #region IMPORT */
@import 'comps/functions';

@import 'params/typography'; // Fonts & Font Styling
@import 'comps/dragula'; // Dragula Drag & Drop Components

body.vtt.game.system-scion {  
  // #region Global Variables & Configuration 
  $defaultPadding: 5px;
  @import 'params/colors'; // Color Definitions & Scaling
  @import 'params/themes';
  @import 'comps/mixins'; // Mixins
  // #endregion 

  // #region Components: Layouts, Mixins, Modules & Fundamentals 
  // #endregion 
  // @import 'window/canvas'; // Top-Level Canvas Styles

  // #region SHEET STYLES 
  div.sheet.scion {
    pointer-events: none;
    border: none;
    box-shadow: none;
    background: none;
    margin: 0;

    @import 'comps/base'; // Base Styles: HTML Elements, Headers
    @import 'comps/layoutBlocks'; // Grid & Flex Layout Plans
    @import 'comps/tabs'; // Navigation Tabs
    @import 'comps/bubbles'; // Clickable Summary Bubbles    
    
    section.window-content form.editable { pointer-events: all; }
    div.window-resizable-handle { display: none; }
    
    // #region ACTOR SHEETS 

    // #region MAJOR ACTOR SHEETS
    &.actor.major {

      header.window-header { // Adjustment to make room for radial menu
        width: 480px;
        margin-left: 140px;
      }

      .main {
        @import 'scionActor/mainActor';        

        .sheet-body {
          .tab .chargen-body { @import "scionActor/chargen/actor-chargen"; }
          .tab .front-body { @import "scionActor/front/actor-front"; }

          .tab .front-body {           
              [class|="purview"] {
                display: inline-block;
                height: 100px;
                width: 80px;
                background: {
                    size: 100%;
                    repeat: no-repeat;
                    position: center;
                };
                filter: hue-rotate(var(--colorPurviewRotate));
                &[class*="sun"] { background-image: url("../images/purviews/sun.png"); }
                &[class*="passion"] { background-image: url("../images/purviews/passion.png"); }
                &[class*="geasa"] { background-image: url("../images/purviews/geasa.png"); }
                &[class*="beauty"] { background-image: url("../images/purviews/beauty.png"); }
                &[class*="fortune"] { background-image: url("../images/purviews/fortune.png"); }

                span.text {
                  display: block;
                  margin-top: 110%;
                  text-align: center;
                  font-family: Oswald;
                  text-transform: uppercase;
                  margin-top: 95px;
                  font-size: 12px;
              }
            }
        }

          // #region Owned Item Partials 
          .path-block { @import "scionActor/ownedItems/path-block"; }
          // #endregion 
        }
      }
    }
    // #endregion
    // #endregion 

    // #region ITEM SHEETS
    &.item {
      .main {
        @import 'scionItem/mainItem';
      }
      &.path .main { @import 'scionItem/pathItem'; }
    }
    // #endregion 
  }
  // #endregion 
}
// #endregion 


