/* ****************************************************** */
/* ***************** TESTING **************************** */
/* ****************************************************** */

/* #region IMPORT */
// @use "sass:string";

@import 'params/typography'; // Fonts & Font Styling
@import 'comps/dragula'; // Dragula Drag & Drop Components

body.vtt.game.system-scion {  
  // #region Global Variables & Configuration 
  @import 'params/colors'; // Color Definitions & Scaling
  @import 'comps/mixins'; // Mixins
  @import 'params/variables'; // Variables
  // #endregion 

  @import 'window/canvas'; // Top-Level Canvas Styles

  // #region SHEET STYLES 
  div.sheet.scion {
    pointer-events: none;
    border: none;
    box-shadow: none;
    background: none;
    margin: 0;

    @import 'comps/base'; // Base Styles: HTML Elements, Headers
    @import 'comps/layoutBlocks'; // Grid & Flex Layout Plans
    @import 'comps/tabs'; // Navigation Tabs
    @import 'comps/bubbles'; // Clickable Summary Bubbles  
    
    header.window-header { @import 'window/header'; }
    
    section.window-content {
      padding: 0px;
      background: transparent;
      pointer-events: none;
      overflow: visible;
      position: relative;
      z-index: 1;
      max-height: 100%;
    
      form.editable { pointer-events: all; }
    }
    div.window-resizable-handle { display: none; }
    
    // #region ACTOR SHEETS 

    // #region STYLES FOR ALL ACTOR SHEETS
    &.actor {
      @import 'params/colorsActor';
      @import 'params/variablesActor';
    }
    // #endregion
    // #region MAJOR ACTOR SHEETS
    &.actor.major {

      header.window-header { // Adjustment to make room for radial menu
        width: 480px;
        margin-left: 140px;
      }

      .main {
        @import 'scionActor/mainActor';
        

        .sheet-body {

          // .tab .chargen-body { @import "scionActor/chargen/actor-chargen"; }
          .tab .front-body { @import "scionActor/front/actor-front"; }

          // #region Owned Item Partials 
          .path-block { @import "scionActor/ownedItems/path-block"; }
          // #endregion 
        }
      }
    }
    // #endregion
    // #endregion 

    // #region ITEM SHEETS
    &.item {
      @import 'params/colorsItem';
      @import 'params/variablesItem';
      .main {
        @import 'scionItem/mainItem';
      }
    }
    // #endregion 
  }
  // #endregion 
}
// #endregion 


