nav.tabs {
    border: none;
    pointer-events: all;
    position: relative;
    z-index: 10;
    flex-grow: 0;
    margin-top: 10px;

    .item {
        margin: 0 0.25rem;
        font: { weight: bold; size: 0.75rem; }
        text-shadow: none;
        color: var(--scale9);
        background-color: var(--scale4);
        border-radius: 2rem;
        @include box-shadow($size: 4px, $color: var(--scale2));

        &:hover {
            background-color: var(--scale9);
            color: var(--scale4);
        }
        &.active {
            background-color: var(--scale7); 
            color: var(--scale2);
        }
    }
}

.window-content form.main section .tab:not(.active) { display: none !important; }
.window-content form.main section .tab { width: 100%; }