<div class="path-block">
    {{log this}}
    <div class="heading2 clickable item-open" data-path="">{{name}}</div>
    <div class="flexRow path-skills">
         {{#each data.data.skills as | skill |}}
            <div>{{localize (concat "scion.skills." skill)}}</div>
        {{/each}}
    </div>
    <div class="flexRow path-connections">
        <div>Group</div>
        <div>Contact</div>
        <div>Access</div>
    </div>
    <div class="path-conditions"></div>
</div>