
& {
    --bgColorMatte: #{$c-white};
    --bgImage: url("../images/actor-sheet/backgrounds/ActorSheetFrame.png");
    --menuRosetteImg: url("../images/actor-sheet/menu/MenuRosetteNetjer.png");

    // Body Text
    --fontColorBody: #{$c-black};
    --fontFamilyBody: "#{$fontFamilyBodyDefault}";
    --fontSizeBody: 1rem;
    --fontWeightBody: bold;

    // Title
    --fontColorTitle: #{$c-black};
    --bgColorTitle: transparent;
    --fontFamilyTitle: "#{$fontFamilyTitleDefault}";
    --fontStyleTitle: normal;
    --fontVariantTitle: normal;
    --fontWeightTitle: normal;
    --fontSizeTitle: 36px;
    --textTransformTitle: none;
    --textShadowTitle: -1px -1px 0px rgba(0, 0, 0, 0.5), 1px 1px 0px rgba(255, 255, 255, 0.5);
    --paddingTitle: 0;
    --lineHeightTitle: normal;
    --fontScaleTitle: 1;

    // SurTitle
    --fontColorSurTitle: var(--fontColorTitle);
    --bgColorSurTitle: var(--bgColorTitle);
    --fontFamilySurTitle: var(--fontFamilyBody);
    --fontStyleSurTitle: normal;
    --fontVariantSurTitle: normal;
    --fontWeightSurTitle: normal;
    --textTransformSurTitle: none;
    --fontSizeSurTitle: 24px;
    --paddingSurTitle: 0;
    --lineHeightSurTitle: normal;
    --textShadowSurTitle: var(--textShadowTitle);
    --fontScaleSurTitle: 1;

    // SubTitle
    --fontColorSubTitle: var(--fontColorTitle);
    --bgColorSubTitle: var(--bgColorTitle);
    --fontFamilySubTitle: "#{$fontFamilyTitleDefault}";
    --fontStyleSubTitle: normal;
    --fontVariantSubTitle: normal;
    --fontWeightSubTitle: bold;
    --textTransformSubTitle: none;
    --fontSizeSubTitle: 16px;
    --paddingSubTitle: 0;
    --lineHeightSubTitle: var(--fontSizeSubTitle);
    --textShadowSubTitle: var(--textShadowTitle);
    --fontScaleSubTitle: 1;

    // Heading 1
    --fontColorHeading1: var(--fontColorTitle);
    --bgColorHeading1: transparent;
    --fontFamilyHeading1: var(--fontFamilyTitle);
    --fontStyleHeading1: normal;
    --fontVariantHeading1: small-caps;
    --fontWeightHeading1: normal;
    --textTransformHeading1: none;
    --fontSizeHeading1: 1.5rem;
    --paddingHeading1: 0;
    --lineHeightHeading1: var(--fontSizeHeading1);
    --textShadowHeading1: -1px -1px 0px rgba(0, 0, 0, 0.5), 1px 1px 0px rgba(255, 255, 255, 0.5);
    --fontScaleHeading1: 1;
    --borderBottomHeading1: 2px solid var(--fontColorHeading1);

    // Heading 2
    --fontColorHeading2: var(--fontColorSubTitle);
    --bgColorHeading2: transparent;
    --fontFamilyHeading2: var(--fontFamilyBody);
    --fontStyleHeading2: normal;
    --fontVariantHeading2: normal;
    --fontWeightHeading2: bold;
    --textTransformHeading2: none;
    --fontSizeHeading2: 1.25rem;
    --paddingHeading2: 0;
    --lineHeightHeading2: var(--fontSizeHeading2);
    --textShadowHeading2: none;
    --borderBottomHeading2: none;

    // Heading 3
    --fontColorHeading3: var(--fontColorSubTitle);
    --bgColorHeading3: transparent;
    --fontFamilyHeading3: var(--fontFamilyBody);
    --fontStyleHeading3: normal;
    --fontVariantHeading3: normal;
    --fontWeightHeading3: bold;
    --textTransformHeading3: none;
    --fontSizeHeading3: 1rem;
    --paddingHeading3: 0;
    --lineHeightHeading3: var(--fontSizeHeading3);
    --textShadowHeading3: none;
    --borderBottomHeading3: none;

    @include scaled-colors(#aaaaaa);
}