<div id="skillList" class="popout pathSkills flex-col height100 {{#if data.skills.[2]}}hidden{{/if}}">
    <div id="pathSkillSource" class="flex-col">
        {{#each skills as |label skill|}}
        <span class="tooltip tipUp skill noFlex {{checkInvalid "skill:path" ../data/type skill}}" data-skill="{{skill}}">
            {{> (../blocks.tooltips.template) (lookup ../tooltips skill)}}
            {{loc (concat label ".name")}}
        </span>
        {{/each}}
    </div>
</div>