
  .netjer {
  
    
    





    
  
  }

  $matteColor: $c-white;
  $headingColor1: $c-black;
  $headingColor2: $c-black;
  $headingColor3: $c-black;
  $accentColor: $c-gold;
  $bodyColor: $c-black;
  $highlightColor: var(--greyFade10);
  $shadowColor: var(--greyFade0);

$fontFamilyBodyDefault: "Overlock SC";

$defaultPadding: 5px;

& {
    // Body Text
}