& {  
    $default-padding: 5px;

    /* #region Sandbox-Level Overrides */
    #logo { display: none; }

    #navigation {
        top: 0;
        left: 0;
    
        #nav-toggle { height: 20px; }

        .nav-item {
            margin: 0 4px 0 0;
            line-height: 1.4rem;
        }

        #scene-list li {
            height: 20px;
            .scene-players { display: none; }
        }
    }

    #controls {
        top: 30px;
        left: 0;
        padding: 0;
    
        .scene-control {
            width: 25px;
            height: 20px;
            font-size: 20px;
            line-height: normal;
    
            &[title='Basic Controls'] { 
                li[title='Measure Distance'] { display: none; } 
            }
    
            &[title='Measurement Controls'] { display: none; }
    
            &[title='Tile Controls'] {
                li[title=''] { display: none; }
            }
    
            &[title='Drawing Tools'] {
                li[title='Draw Rectangle'] { display: none; }
                li[title='Draw Ellipse'] { display: none; }
                li[title='Draw Polygon'] { display: none; }
                li[title='Draw Freehand'] { display: none; }
                li[title='Clear Drawings'] { display: none; }
            }
    
            &[title='Wall Controls'] { display: none; }
    
            &[title='Lighting Controls'] {
                li[title='Reset Fog of War'] { display: none; }
                li[title='Clear Lights'] { display: none; }
            }
    
            &[title='Ambient Sound Controls'] {
                li[title='Clear Sounds'] { display: none; }
            }
    
            &[title='Journal Notes'] {
                li[title='Clear Notes'] { display: none; }
            }    
    
            .control-tools {
                position: relative;
                top: -25px;
                left: 35px;
                height: 25px;
                margin: 0 0 -25px;

                .control-tool {
                    display: inline-block;
                    height: 25px;
                    margin: 0 3px;
                    font-size: 20px;
                    line-height: normal;
                    i { width: 25px; }
                }
            }
    
            &.active .control-tools { display: flex; }
        }
    }

    #sidebar {
        $scaleFactor: 0.75;
        $chatControlShift: -55px;
        height: calc(99vh / #{$scaleFactor});
    
        transform: scale($scaleFactor);
        transform-origin: 100% 0%;
        // max-height: calc(99vh / #{$scaleFactor});
    
        #chat-log { /* max-height: calc(100vh / #{$scaleFactor}); */ }
    
        #chat-controls {
            position: relative;
            top: $chatControlShift;
            width: calc(100% * #{$scaleFactor});
            flex: 0 0 calc(28px / #{$scaleFactor});
            transform: scale(calc(1/#{$scaleFactor}));
            transform-origin: 0% 100%;
        }

        #chat-form {
            width: calc(100% * #{$scaleFactor});
            flex: 0.1 0 calc(100px * #{$scaleFactor});
            transform: scale(calc(1 / #{$scaleFactor}));
            transform-origin: 0% 100%;
        }
    }
    /* #endregion */

    /* #region Sheet Default Style Overrides */
    div.sheet.scion {
        border: none;
        margin: 0;
        background: none;
        box-shadow: none;
        pointer-events: none;
      
        header.window-header { display: none !important; }
      
        section.window-content {
            position: relative;
            z-index: 1;
            overflow: visible;
            padding: 0;
            background: transparent;
            pointer-events: none;
            // max-height: 100%;
      
            .main { 
                pointer-events: all;

                .tab {
                    width: 100%;
                    &:not(.active) { display: none !important; }
                }           
            }
        }
        
        div.window-resizable-handle { display: none; }
    }
    /* #endregion */
}
