header.window-header { // Adjustment to make room for radial menu
    width: 480px !important;
    margin-left: 140px !important;
    
    &.collapsed {
        position: absolute !important;
        height: 120px !important;
        width: 100px !important;
        left: -130px !important;
        top: 0px !important;
        padding: 0 !important;

        a.header-button { display: none !important; }
    }
}

nav.tabs {
    border: none;
    pointer-events: all;
    position: relative;
    z-index: 10;
    flex-grow: 0;
    margin-top: 10px;

    .item {
        margin: 0 0.25rem;
        font: { weight: bold; size: 0.75rem; }
        text-shadow: none;
        color: var(--accentUp4);
        background-color: var(--accentDown1);
        border-radius: 2rem;
        @include box-shadow($size: 4px, $color: var(--accentDown3));

        &:hover {
            background-color: var(--accentUp4);
            color: var(--accentDown1);
        }
        &.active {
            background-color: var(--accentUp2); 
            color: var(--accentDown3);
        }
    }
}