textarea,
input[type="text"],
select {
    height: 100%;
    width: 100%;
    min-height: unset;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    border: none;
    box-shadow: none;

    &:focus {
        box-shadow: none;
        outline: none;
    }
}

.readonly {
    pointer-events: none;
    resize: none;
    overflow: hidden;
}

.grid,
.tab[data-tab].active.grid {
    display: grid;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 0;    
    grid-gap: 0;

    &.span1col {grid-column: span 1}
    &.span2col {grid-column: span 2}
    &.span3col {grid-column: span 3}
    &.span4col {grid-column: span 4}
    &.span5col {grid-column: span 5}
    &.span6col {grid-column: span 6}
    &.span7col {grid-column: span 7}
    &.span8col {grid-column: span 8}

    &.span1row {grid-row: span 1}
    &.span2row {grid-row: span 2}
    &.span3row {grid-row: span 3}
    &.span4row {grid-row: span 4}
    &.span5row {grid-row: span 5}
    &.span6row {grid-row: span 6}
    &.span7row {grid-row: span 7}
    &.span8row {grid-row: span 8}
}

.flex,
.tab[data-tab].active.flex {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 0;
}

.text {
    color: var(--fontColorBody);
    font-family: var(--fontFamilyBody);
    font-size: var(--fontSizeBody);
}

.dot {
    height: 15px;
    width: 15px;
    margin: 1px 1px 0 0;
    border-radius: 50%;
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0.4), inset -1px -1px 1px white;

    &.full {
        background: radial-gradient(#444, #0a0a0a);
        border: solid 2px black;
        box-shadow: 1px 1px 2px black;
    }

    &.unspent {
        background: radial-gradient(#900, #5a0000);
        border: solid 2px #5a0000;
        box-shadow: 1px 1px 2px black;
    }
}

.edit {
    &:focus {
        box-shadow: none;
        border: none;
        outline: none;
    }
}