textarea,
input[type="text"],
select {
    height: 100%;
    width: 100%;
    min-height: unset;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    border: none;
    box-shadow: none;

    &:focus {
        box-shadow: none;
        outline: none;
    }
}

.readonly {
    pointer-events: none;
    resize: none;
    overflow: hidden;
}

.grid,
.tab[data-tab].active.grid {
    display: grid;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 0;    
    grid-gap: 0;

    &.span1col {grid-column: span 1}
    &.span2col {grid-column: span 2}
    &.span3col {grid-column: span 3}
    &.span4col {grid-column: span 4}
    &.span5col {grid-column: span 5}
    &.span6col {grid-column: span 6}
    &.span7col {grid-column: span 7}
    &.span8col {grid-column: span 8}

    &.span1row {grid-row: span 1}
    &.span2row {grid-row: span 2}
    &.span3row {grid-row: span 3}
    &.span4row {grid-row: span 4}
    &.span5row {grid-row: span 5}
    &.span6row {grid-row: span 6}
    &.span7row {grid-row: span 7}
    &.span8row {grid-row: span 8}
}

.flex,
.tab[data-tab].active.flex {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 0;
}

.text {
    color: var(--fontColorBody);
    font-family: var(--fontFamilyBody);
    font-size: var(--fontSizeBody);
    font-weight: var(--fontWeightBody);
}

.dot {
    height: 15px;
    width: 15px;
    margin: 1px 1px 0 0;
    border-radius: 50%;
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0.4), inset -1px -1px 1px white;

    &.full {
        background: radial-gradient(#444, #0a0a0a);
        border: solid 2px black;
        box-shadow: 1px 1px 2px black;
    }

    &.unspent {
        background: radial-gradient(#900, #5a0000);
        border: solid 2px #5a0000;
        box-shadow: 1px 1px 2px black;
    }
}

.edit {
    color: var(--fontColorBody);
    font-family: var(--fontFamilyBody);
    font-size: var(--fontSizeBody);
    font-weight: bold;
    border-radius: 1rem;
    background-color: rgba(0,0,0,0.2);
    border: inset 3px brown;
    &:focus {
        box-shadow: none;
        // border: none;
        outline: none;
    }
}

.title {
    color: var(--fontColorTitle);
    background-color: var(--bgColorTitle);
    font-family: var(--fontFamilyTitle);
    font-style: var(--fontStyleTitle);
    font-variant: var(--fontVariantTitle);
    font-weight: var(--fontWeightTitle);
    text-transform: var(--textTransformTitle);
    font-size: var(--fontSizeTitle);
    padding: var(--paddingTitle);
    line-height: var(--lineHeightTitle);
    text-shadow: var(--textShadowTitle);
    text-align: center;
    border: none;
}

.surTitle {
    color: var(--fontColorSurTitle);
    background-color: var(--bgColorSurTitle);
    font-family: var(--fontFamilySurTitle);
    font-style: var(--fontStyleSurTitle);
    font-variant: var(--fontVariantSurTitle);
    font-weight: var(--fontWeightSurTitle);
    text-transform: var(--textTransformSurTitle);
    font-size: var(--fontSizeSurTitle);
    padding: var(--paddingSurTitle);
    line-height: var(--lineHeightSurTitle);
    text-shadow: var(--textShadowSurTitle);
    text-align: center;
    border: none;
}

.subTitle {    
    color: var(--fontColorSubTitle);
    background-color: var(--bgColorSubTitle);
    font-family: var(--fontFamilySubTitle);
    font-style: var(--fontStyleSubTitle);
    font-variant: var(--fontVariantSubTitle);
    font-weight: var(--fontWeightSubTitle);
    text-transform: var(--textTransformSubTitle);
    font-size: var(--fontSizeSubTitle);
    padding: var(--paddingSubTitle);
    line-height: var(--lineHeightSubTitle);
    text-shadow: var(--textShadowSubTitle);
    text-align: center;
    border: none;
}

.heading1 {   
    width: 100%;
    color: var(--fontColorHeading1);
    background-color: var(--bgColorHeading1);
    font-family: var(--fontFamilyHeading1);
    font-style: var(--fontStyleHeading1);
    font-variant: var(--fontVariantHeading1);
    font-weight: var(--fontWeightHeading1);
    text-transform: var(--textTransformHeading1);
    font-size: var(--fontSizeHeading1);
    padding: var(--paddingHeading1);
    line-height: var(--lineHeightHeading1);
    text-shadow: var(--textShadowHeading1);
    border-bottom: var(--borderBottomHeading1);
}

.heading2 {
    color: var(--fontColorHeading2);
    background-color: var(--bgColorHeading2);
    font-family: var(--fontFamilyHeading2);
    font-style: var(--fontStyleHeading2);
    font-variant: var(--fontVariantHeading2);
    font-weight: var(--fontWeightHeading2);
    text-transform: var(--textTransformHeading2);
    font-size: var(--fontSizeHeading2);
    padding: var(--paddingHeading2);
    line-height: var(--lineHeightHeading2);
    text-shadow: var(--textShadowHeading2);
    border-bottom: var(--borderBottomHeading2);
}