& {
    *[class*="subBlock"] {
        margin: 3px;

        align: { content: start; self: start; }

        > span { 
            margin: 1px; //1px 1px 3px var(--grey3)
            &.skill:not(.empty) { @include box-shadow(1px, 3px, var(--grey3), false, 1); }            
        }
    }
}

