& {
    .sheet-body {
        .pathSkills {
            min-height: 28px;
            span.skill {
                margin: 0 calc((100% - 3 * 120px) / 6);
                &.invalid {
                    background-image: url("../images/textures/stoneGrey.jpg");
                    border-color: var(--grey6);
                    color: var(--grey3);
                }
            }
        }
    }

}