<form class="{{cssClass}} {{actor.type}} {{data.pantheon}}" autocomplete="off">
    {{log "!!!!!!!!!!!!!!!!!!"}} 
    {{log this}}
    <div class="grid main">
            {{!-- Sheet Tab Navigation --}}
            <nav class="sheet-tabs tabs" data-group="primary">
                <a class="item" data-tab="front">Front</a>
                <a class="item" data-tab="heritage">Divine Heritage</a>
                <a class="item" data-tab="details">Details</a>
                <a class="item" data-tab="experience">Experience</a>
            </nav>

            {{!-- Sheet Header --}}
            <div class="header">
                <div class="grid">
                    <div class="legendDisplay text">LEGEND</div>
                    <div class="charName text"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></div>
                    <div class="healthDisplay text">HEALTH</div>
                    <div class="parentage text">{{#if data.parentageLine}}<textarea class="readonly" name="parentage" readonly >{{data.parentageLine}}</textarea>{{/if}}</div>
                    <div class="title text"><input name="data.divineTitle" type="text" value="{{data.divineTitle}}" placeholder="" /></div>
                    <div class="xpDisplay text">EXPERIENCE</div>
                </div>
                <!-- <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>     -->      
                
            </div>



            <section class="sheet-body">
                {{!-- Front Tab --}}
                <div class="tab front" data-group="primary" data-tab="front">
                    <div class="grid">
                        <div class="attributes text">ATTRIBUTES</div>
                        <div class="paths text">Paths</div>
                        <div class="virtues text">Virtues</div>
                    </div>
                </div>
                {{!-- Divine Heritage Tab --}}
                <div class="tab heritage" data-group="primary" data-tab="heritage">
                    <div class="grid">
                        <div class="heritage text">                            
                            <select name="data.pantheon">
                                <option name=""></option>
                                {{selectOptions data.SYSTEMDATA.PANTHEONS selected=data.pantheon}}
                            </select>                            
                            <select name="data.parent.name">
                                <option name=""></option>
                                {{selectOptions data.SYSTEMDATA.PANTHEONMEMBERS selected=data.parent.name}}
                            </select>                           
                            <select name="data.heritage">
                                <option name=""></option>
                                {{selectOptions data.SYSTEMDATA.HERITAGES selected=data.heritage}}
                            </select>
                        </div>
                        <div class="paths text">Paths</div>
                        <div class="virtues text">Virtues</div>
                    </div>
                </div>
                {{!-- Details Tab --}}
                <div class="tab details" data-group="primary" data-tab="details">
                    <div class="grid">
                        <div class="attributes text">Attributes</div>
                        <div class="paths text">Paths</div>
                        <div class="virtues text">Virtues</div>
                    </div>
                </div>
                {{!-- Experience Tab --}}
                <div class="tab experience" data-group="primary" data-tab="experience">
                    <div class="grid">
                        <div class="attributes text">Attributes</div>
                        <div class="paths text">Paths</div>
                        <div class="virtues text">Virtues</div>
                    </div>
                </div>
            </section>
        </div>
</form>