& {
    grid:   "skills skills paths paths" 210px
            "skills skills callings callings" 80px
            "skills skills deeds deeds" 100px
            "attributes attributes attributes attributes" 100px
            ". . . ." 30px
            ". virtues virtues ." 40px/100px 90px 1fr 100px;
    column-gap: 0.5rem;
    .skills {
        grid-area: skills;

        flex-flow: column nowrap;
        justify-content: space-between;

        .specSummary {
            font-size: calc(var(--fontSizeBody) * 0.75);
            margin: -5px 0 0 15px;
        }
        .dotGrabBin {
            flex-wrap: wrap;
            height: auto;
            justify-content: flex-end;
        }

        .dotDropBin {
            margin-bottom: 5px;
        }

    }
    .paths {
        grid-area: paths;
        grid: "heading" 1.5rem
            "originpath" 5rem
            "rolepath" 5rem
            "pantheonpath" 5rem;
        .heading { grid-area: heading; }
        .originpath { grid-area: originpath; }
        .rolepath { grid-area: rolepath; }
        .pantheonpath { grid-area: pantheonpath }    
        .pathBubble {
            @include bubble(10, 30px);
            font: {
                family: "Poiret One";
                weight: bold;
                size: 14px;
            }
            line-height: 14px;
            text-align: left;
            text-align-last: left;
        }                    
    }
    .callings {
        grid-area: callings;
    }
    .deeds {
        grid-area: deeds;
    }
    .attributes {
        grid-area: attributes;
        .arena-block { margin: 5px 17px; }

    }
    .virtues {
        grid-area: virtues;
        > div {
            border-radius: 1rem;
            background-color: var(--accentFade50);
            border: 3px outset var(--accent);
            box-sizing: content-box;
            transform: scale(1.75);
            padding: 0 10px;
        }
    }
}    