.chargenOne {
    .deed {
        min-width: 50%;
    }
}

.chargenTwo {
    #pathContainer .path-block { @import 'sheets/actor/major/blocks/path-block'; }
    .skillSummary {
        transform: scale(0.75);
        margin-left: 5%;
        .skills { 
            flex: 0 1 33%;
            margin: 0 5px;
            .dotline-labelled { margin: 3px 0; }
            .dot:not([class*="-full"]) { display: none !important; }
        }
    }
}

.chargenThree {
    .grid { 
        --gridHeight: calc(560px - 26px - 10px - 5px - 32px); 
        grid: "skillHeader skillHeader skillHeader skillHeader attrHeader attrHeader" 26px
              "skills skills specialties specialties attributes attributes" calc(var(--gridHeight) - 130px - 26px)
              "unspentSkills unspentSkills unspentSkills unspentAttrs unspentAttrs unspentAttrs" 130px/100px 100px 1fr 1fr 1fr 100px;

        h2 {
            text-indent: 0;
            &.skillHeader { grid-area: skillHeader; }
            &.attrHeader { grid-area: attrHeader; }
        }
        
        .skills { 
            grid-area: skills;
            .dotline-labelled {
                margin: 2px 0;
            } 
        }
        .specialties { 
            grid-area: specialties; 
            .specialty {
                width: 100%;
                height: 16px;
                min-height: 16px;
                max-height: 16px;
                margin: 2px;
                font-size: 14px;
                .specialtyInput {
                    min-height: 16px;
                    line-height: 16px;
                    margin: -2px 4px;
                    border-width: 2px;
                    &.placeholder {
                        font-size: 12px;
                    }
                }
            }
        }
        .attributes { 
            grid-area: attributes;
            .attribute-block {  
                margin: 5px 0;
                border: 3px solid var(--accent);
                border-radius: 25px;
                padding: 0px 10px;
                background: var(--accentUp2Fade75);
                border-top-left-radius: 0;
                overflow: hidden;
                &:first-child { margin-top: 0px; }
                .dotline-labelled { margin: 5px 0; }
                h3 {
                    font-size: 16px;
                    background: var(--bgH2);
                    margin-left: -10px;
                    text-indent: 4px;
                    width: 120%;
                }
            }
            .favoredApproach {
                h3 {
                    font-size: var(--fontSizeBody);
                }
                select {
                    width: 80%;
                    margin: 0px 5px 5px 5px;
                }
            }
        }
        .unspentDots {
            flex: 0 0 50%;
            h2 { font-size: calc(var(--fontSizeH2) * 0.75) }
            &.unspentSkillDots { 
                grid-area: unspentSkills;
            }
            &.unspentAttrDots {
                grid-area: unspentAttrs;
                > div { margin: 3px 0; }
                label { width: 75px; min-width: 75px; }
            }
            div.reportBox {
                background-color: white !important;
                width: 320px !important;
                height: 80px !important;
                min-height: 80px !important;
                max-height: 80px !important;
                vertical-align: bottom !important;
                position: absolute;
                bottom: 20px;
                margin: 0;
                padding: 5px;
                outline: 3px solid green;
                padding-top: 3px;
                span.reportLine {
                    display: block !important;
                    height: 12px !important;
                    min-height: 12px !important;
                    max-height: 12px !important;
                    margin: 2px 0px !important;
                    padding: 0 !important;
                    font: {
                        size: 12px !important;
                        family: "Overlock SC" !important;
                        weight: bold !important;
                    }
                    line-height: 12px !important;
                    text: {
                        align: right !important;
                        align-last: right !important;
                        shadow: none !important;
                    }
                }
            }
        }
    }
}
