<div id="skillList" class="popout pathSkills flex-col height100 {{#if data.skills.[2]}}hidden{{/if}}">
    <div id="pathSkillSource" class="flex-col">
        {{#each skills as |label skill|}}
        <span class="skill noFlex 
            {{~#if (eq (lookup ../pathSkillsCount [skill]) 2)}} invalid
            {{~else}}{{#if (contains ../data/skills [skill])}} invalid{{/if~}}
            {{~/if}}" data-skill="{{skill}}">{{loc label}}</span>
        {{/each}}
    </div>
</div>