$c-white: rgb(255, 255, 255);
$c-grey: scale-color($c-white, $lightness: -50%);
$c-black: #000;


@mixin scaled-colors ($baseColor, $name: "", $isGreyscale: false) {
    @for $i from 0 through 10 {
      $thisScale: 10% * ($i * 2 - 10);
      $thisColor: scale-color($baseColor, $lightness: $thisScale, $saturation: $thisScale);
      @if $isGreyscale {
        $thisColor: scale-color($baseColor, $lightness: $thisScale);
      }
      $thisHalfColor: scale-color($thisColor, $alpha: -50%);
      $thisQuarterColor: scale-color($thisColor, $alpha: -75%);
      --scale#{$name}#{$i}: #{$thisColor};
      --scaleFade#{$name}#{$i}: #{$thisHalfColor};
      --scaleFadeMore#{$name}#{$i}: #{$thisQuarterColor};
    }
}

* {
    @include scaled-colors($c-grey, "Grey", true);
} 
