/* .aesir {
  $matteColor: ;
  $headingColor1: ;
  $headingColor2: ;
  $headingColor3: ;
  $accentColor: ;
  $bodyColor: ;
  $highlightColor: ;
  $shadowColor: ;

  @include set-colors();
} */

/* .deva {
  $matteColor: ;
  $headingColor1: ;
  $headingColor2: ;
  $headingColor3: ;
  $accentColor: ;
  $bodyColor: ;
  $highlightColor: ;
  $shadowColor: ;

  @include set-colors();
} */

/* .kami {
  $matteColor: ;
  $headingColor1: ;
  $headingColor2: ;
  $headingColor3: ;
  $accentColor: ;
  $bodyColor: ;
  $highlightColor: ;
  $shadowColor: ;

  @include set-colors();
} */

/* .loa {
  $matteColor: ;
  $headingColor1: ;
  $headingColor2: ;
  $headingColor3: ;
  $accentColor: ;
  $bodyColor: ;
  $highlightColor: ;
  $shadowColor: ;

  @include set-colors();
} */

/* .manitou {
  $matteColor: ;
  $headingColor1: ;
  $headingColor2: ;
  $headingColor3: ;
  $accentColor: ;
  $bodyColor: ;
  $highlightColor: ;
  $shadowColor: ;

  @include set-colors();
} */

.netjer {
  $matteColor: #f6f0e2;
  $titleColor: #554a39;
  $headingColor1: #554a39;
  $headingColor2: #6e4a28;
  $headingColor3: #412b17;
  $accentColor: #834107;
  $bodyColor: #2d2d2f;
  $highlightColor: $matteColor;
  $shadowColor: $bodyColor;

  @include set-colors();
}

/* .shen {
  $matteColor: ;
  $headingColor1: ;
  $headingColor2: ;
  $headingColor3: ;
  $accentColor: ;
  $bodyColor: ;
  $highlightColor: $matteColor;
  $shadowColor: $bodyColor;

  @include set-colors();
} */

/* .teotl {
  $matteColor: ;
  $headingColor1: ;
  $headingColor2: ;
  $headingColor3: ;
  $accentColor: ;
  $bodyColor: ;
  $highlightColor: $matteColor;
  $shadowColor: $bodyColor;

  @include set-colors();
} */

.theoi {
  $matteColor: #ffffff;
  $titleColor: #000fb8;
  $headingColor1: #000fb8;
  $headingColor2: #4757ff; 
  $headingColor3: #000b85;
  $accentColor: #8e52ff;
  $bodyColor: #000538;  
  $highlightColor: $matteColor;
  $shadowColor: $bodyColor;
  
  @include set-colors();
}

.tuathaDeDanann {
  $matteColor: #efffd1;
  $titleColor: #296f17;
  $headingColor1: #296f17;
  $headingColor2: #0d3005;
  $headingColor3: #19430e;
  $accentColor: #25951f;
  $bodyColor: #1a211d;
  $highlightColor: $matteColor;
  $shadowColor: $bodyColor;
  
  @include set-colors(); 
}

/* .nemetondevos {
  $matteColor: ;
  $headingColor1: ;
  $headingColor2: ;
  $headingColor3: ;
  $accentColor: ;
  $bodyColor: ;
  $highlightColor: $matteColor;
  $shadowColor: $bodyColor;

  @include set-colors();
} */

/* .orisha {
  $matteColor: ;
  $headingColor1: ;
  $headingColor2: ;
  $headingColor3: ;
  $accentColor: ;
  $bodyColor: ;
  $highlightColor: $matteColor;
  $shadowColor: $bodyColor;

  @include set-colors();
} */

/* .yazata {
  $matteColor: ;
  $headingColor1: ;
  $headingColor2: ;
  $headingColor3: ;
  $accentColor: ;
  $bodyColor: ;
  $highlightColor: $matteColor;
  $shadowColor: $bodyColor;

  @include set-colors();
} */

/* .teros {
  $matteColor: ;
  $headingColor1: ;
  $headingColor2: ;
  $headingColor3: ;
  $accentColor: ;
  $bodyColor: ;
  $highlightColor: $matteColor;
  $shadowColor: $bodyColor;

  @include set-colors();
} */