.grid {
    display: grid;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    font-size: 0px;    
    grid-gap: 0px;
}

.Character {
    background-color: var(--bgColor1);
    .grid.main {
        height: map-get($charSheet, "height");
        width: map-get($charSheet, "width");

        grid: "nav" 40px
              "header" 100px
              "body" auto
            / 1fr;   
        
        .nav {grid-area: nav;}
        .header {grid-area: header;}
        .sheet-body {grid-area: body;}


        .header {
            .grid {
                grid: "legendDisplay charName charName charName healthDisplay" 1fr
                      "legendDisplay charName charName charName healthDisplay" 1fr
                      "legendDisplay charName charName charName healthDisplay" 1fr
                      "legendDisplay parentage parentage parentage ." 1fr
                      "legendDisplay parentage parentage parentage xpDisplay" 1fr
                      "legendDisplay title title title xpDisplay" 1fr
                      "legendDisplay title title title xpDisplay" 1fr
                      / 20% 1fr 1fr 1fr 1fr;
                .legendDisplay {grid-area: legendDisplay;}
                .charName {grid-area: charName;}
                .healthDisplay {grid-area: healthDisplay;}
                .parentage {grid-area: parentage;}
                .title {grid-area: title;}
                .xpDisplay {grid-area: xpDisplay;}
                // div {border: 1px dashed blue;}
            }
        }
        .sheet-body {
            .front {
                .grid {
                    grid: "attributes attributes paths paths paths paths" 150px
                        "attributes attributes paths paths paths paths" 150px
                        "attributes attributes paths paths paths paths" 150px 
                        "virtues virtues paths paths paths paths" 100px
                        / 1fr 1fr 1fr 1fr 1fr 1fr;
                    .attributes {grid-area: attributes;}
                    .paths {grid-area: paths;}
                    .virtues {grid-area: virtues;}
                }
            }
            .heritage {
                .grid {
                    grid: "paths paths paths paths paths paths" 150px
                        "paths paths paths paths paths paths" 150px
                        "paths paths paths paths paths paths" 150px 
                        "virtues virtues paths paths paths paths" 100px
                        / 1fr 1fr 1fr 1fr 1fr 1fr;
                        .attributes {grid-area: attributes;}
                        .paths {grid-area: paths;}
                        .virtues {grid-area: virtues;}
                }
            }
            .details {
                .grid {
                    grid: "attributes attributes paths paths paths paths" 150px
                        "attributes attributes paths paths paths paths" 150px
                        "attributes attributes paths paths paths paths" 150px 
                        "virtues virtues paths paths paths paths" 100px
                        / 1fr 1fr 1fr 1fr 1fr 1fr;
                        .attributes {grid-area: attributes;}
                        .paths {grid-area: paths;}
                        .virtues {grid-area: virtues;}
                }
            }
            .experience {
                .grid {
                    grid: "paths paths paths paths paths paths" 150px
                        "paths paths paths paths paths paths" 150px
                        "paths paths paths paths paths paths" 150px 
                        "virtues virtues paths paths paths paths" 100px
                        / 1fr 1fr 1fr 1fr 1fr 1fr;
                        .attributes {grid-area: attributes;}
                        .paths {grid-area: paths;}
                        .virtues {grid-area: virtues;}
                }
            }
        }
    }
}