.scion .Character {
    .main {
        .header {
            .legendDisplay { }
            .charName {
                input[type="text"] { 
                    color: var(--fontColorTitle);
                    background-color: var(--bgColorTitle);
                    font-family: var(--fontFamilyTitle);
                    font-style: var(--fontStyleTitle);
                    font-variant: var(--fontVariantTitle);
                    font-weight: var(--fontWeightTitle);
                    text-transform: var(--textTransformTitle);
                    font-size: var(--fontSizeTitle);
                    text-align: center;
                }
            }
            .healthDisplay { }
            .parentage {
                textarea {
                    color: var(--fontColorSubTitle);
                    background-color: var(--bgColorSubTitle);
                    font-family: var(--fontFamilySubTitle);
                    font-style: var(--fontStyleSubTitle);
                    font-variant: var(--fontVariantSubTitle);
                    font-weight: var(--fontWeightSubTitle);
                    text-transform: var(--textTransformSubTitle);
                    font-size: var(--fontSizeSubTitle);
                    text-align: center;
                }
            }
            .title {
                textarea {
                    color: var(--fontColorSubSubTitle);
                    background-color: var(--bgColorSubSubTitle);
                    font-family: var(--fontFamilySubSubTitle);
                    font-style: var(--fontStyleSubSubTitle);
                    font-variant: var(--fontVariantSubSubTitle);
                    font-weight: var(--fontWeightSubSubTitle);
                    text-transform: var(--textTransformSubSubTitle);
                    font-size: var(--fontSizeSubSubTitle);
                    text-align: center;
                }
            }
            .xpDisplay { }
        }
        .sheet-body {
            

        }
    }
}