& {
    height: 40px;
    width: 100%;
    margin: 0 0 -40px 0;
    display: block;
    flex: none;
    position: relative;
    z-index: 2;
    overflow: visible;
    border: none;
    pointer-events: none;

    h4.window-title { display: none; }
    a.header-button {
        display: none;

        &.close {
            height: 40px;
            width: 40px;
            position: absolute;
            top: -20px;
            right: 20px;
            display: block;
            pointer-events: all;
            font-size: var(--fontSizeBody);
            color: white;
            line-height: 50px;

            i { display: none; }
        }
    }
    &::before {
        content: "";
        height: 100%;
        width: 100%;

        display: block;
        position: relative;           

        cursor: move;
        pointer-events: all;
    }
}
