
& {
    --bgColor1: #{$c-white};

    --fontColorTitle: #{$c-black};
    --bgColorTitle: transparent;
    --fontFamilyTitle: "#{$fontFamilyTitleDefault}";
    --fontStyleTitle: normal;
    --fontVariantTitle: normal;
    --fontWeightTitle: normal;
    --textTransformTitle: none;
    --fontSizeTitle: 32px;
    --textShadowTitle: -1px -1px 0px rgba(0, 0, 0, 0.5), 1px 1px 0px rgba(255, 255, 255, 0.5);

    --fontColorSubTitle: var(--fontColorTitle);
    --bgColorSubTitle: var(--bgColorTitle);
    --fontFamilySubTitle: "#{$fontFamilyTitleDefault}";
    --fontStyleSubTitle: normal;
    --fontVariantSubTitle: normal;
    --fontWeightSubTitle: normal;
    --textTransformSubTitle: none;
    --fontSizeSubTitle: 24px;
    --textShadowSubTitle: -1px -1px 0px rgba(0, 0, 0, 0.5), 1px 1px 0px rgba(255, 255, 255, 0.5);

    --fontColorSubSubTitle: var(--fontColorTitle);
    --bgColorSubSubTitle: var(--bgColorTitle);
    --fontFamilySubSubTitle: "#{$fontFamilyBodyDefault}";
    --fontStyleSubSubTitle: normal;
    --fontVariantSubSubTitle: normal;
    --fontWeightSubSubTitle: normal;
    --textTransformSubSubTitle: none;
    --fontSizeSubSubTitle: 24px;
    --textShadowSubSubTitle: -1px -1px 0px rgba(0, 0, 0, 0.5), 1px 1px 0px rgba(255, 255, 255, 0.5);

    --fontColorBody: #{$c-black};
    --fontFamilyBody: "#{$fontFamilyBodyDefault}";
    --fontSizeBody: 18px;
}

.netjer {
    $matteColor: #f7e5d6;
    $headingColor: #6e4a28;
    $accentColor: #373127;
    $bodyColor: #261b12;

    // $primaryColor: #FFD700;

    --bgColor1: #{scale-color($matteColor, $lightness: 45%, $saturation: -35%)};
    // --bgColor1: #{$matteColor};
    
    // --fontColorTitle: #{scale-color($primaryColor, $lightness: -60%, $saturation: 50%)};
    --fontColorTitle: #{$headingColor};
    --fontFamilyTitle: "Yatra One";

    // --fontColorSubTitle: #{scale-color($primaryColor, $lightness: -60%, $saturation: 50%)};
    --fontColorSubTitle: #{$headingColor};
    --fontFamilySubTitle: "Reem Kufi";
    --fontSizeSubTitle: 28px;

    //--fontColorSubSubTitle: #{scale-color($primaryColor, $lightness: -60%, $saturation: 50%)};
    --fontColorSubSubTitle: #{$accentColor};
    --fontWeightSubSubTitle: bold;

    --fontColorBody: #{$bodyColor};

    --pantheonImage: url("https://i.imgur.com/ADtHyUx.png");
}

.tuathaDeDannan {
    $primaryColor: #32CD32;

    --bgColor1: #{scale-color($primaryColor, $lightness: 85%, $saturation: -35%)};

    --fontColorTitle: #{scale-color($primaryColor, $lightness: -60%, $saturation: 50%)};
    --fontFamilyTitle: "Berkshire Swash";

    --fontColorSubTitle: #{scale-color($primaryColor, $lightness: -60%, $saturation: 50%)};
    --fontFamilySubTitle: "Della Respira";
    --fontStyleSubTitle: italic;

    --fontColorSubSubTitle: #{scale-color($primaryColor, $lightness: -60%, $saturation: 50%)};
    --fontWeightSubSubTitle: bold;

    --pantheonImage: url("https://i.imgur.com/ROSCtgV.png");
}