nav.sheet-tabs {
  height: 40px;
  margin: 0px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;

  .item {
    line-height: 40px;
    font-weight: bold;
    font-size: 14px;
  }

  .item.active {
    text-decoration: underline;
    text-shadow: none;
  }
}