/* #region Element Default Styles */
* {
    color: var(--fontColorBody);
    font: {
        family: var(--fontFamilyBody);
        size: 0;
        weight: var(--fontWeightBody);
    }
    text-shadow: var(--textShadowBody);
   line-height: var(--lineHeightBody);
}

textarea,
input[type="text"],
select {
    margin: 0px;
    padding: 0px;
    box-shadow: none;
    border: none;
    outline: none;

    &:invalid { @include disabledText; }
}



h1, h2, h3, .h1, .h2, .h3 { width: 100%; margin: 0; }

h1, h2, .h1, .h2 { display: block; }

h1, .h1 {
    color: var(--fontColorHeading1);
    background: var(--bgHeading1);
    padding: var(--paddingHeading1);
    max-height: var(--maxHeightHeading1);
    line-height: var(--lineHeightHeading1);
    font: {
        family: var(--fontFamilyHeading1);
        style: var(--fontStyleHeading1);
        variant: var(--fontVariantHeading1);
        weight: var(--fontWeightHeading1);
        size: var(--fontSizeHeading1);
    }
    text: {
        transform: var(--textTransformHeading1);
        shadow: var(--textShadowHeading1);
    }
    border-bottom: var(--borderBottomHeading1);
}

h2, .h2 {
    // color: var(--fontColorHeading2);
    color: var(--bgMatte);
    background: var(--bgHeading2); 
    padding: var(--paddingHeading2);
    max-height: var(--maxHeightHeading2);
    line-height: var(--lineHeightHeading2);
    font: {
        family: var(--fontFamilyHeading2);
        style: var(--fontStyleHeading2);
        variant: var(--fontVariantHeading2);
        weight: var(--fontWeightHeading2);
        size: var(--fontSizeHeading2);
    }
    text: {
        transform: var(--textTransformHeading2);
        shadow: var(--textShadowHeading2);
        indent: 10px;
    }
    border-bottom: var(--borderBottomHeading2);
}

h3, .h3 {
    color: var(--fontColorHeading3);
    background: var(--bgHeading3);
    padding: var(--paddingHeading3);
    max-height: var(--maxHeightHeading3);
    line-height: var(--lineHeightHeading3);
    font: {
        family: var(--fontFamilyHeading3);
        style: var(--fontStyleHeading3);
        variant: var(--fontVariantHeading3);
        weight: var(--fontWeightHeading3);
        size: var(--fontSizeHeading3);
    }
    text: {
        transform: var(--textTransformHeading3);
        shadow: var(--textShadowHeading3);
    }
    border-bottom: var(--borderBottomHeading3);
}

label { 
    font-size: var(--fontSizeBody);
    margin: 0 0.25rem; 
}
/* #endregion */

/* #region Editable Input Fields */
.contentEditable {
    text-indent: 5px;
    box-shadow: none;
    outline: none;

    &.insetFrame {
        min-height: 27px;
        font-weight: bold;
        border-radius: 1rem;
        background: rgba(0,0,0,0.2);
        border: inset 3px var(--scale6);
    }
}

/* #endregion */

/* #region Single-Purpose Classes */
.readonly {
    pointer-events: none;
    resize: none;
    overflow: hidden;
}

.insetFrame {
    color: var(--fontColorBody);
    font: {
       family: var(--fontFamilyBody);
       size: var(--fontSizeBody);
       weight: var(--fontWeightBody);
    }
    border-radius: 1rem;
    background: var(--scaleFullFade2);
    border: inset 3px var(--scale6);
 }

 .outsetFrame {
    color: var(--fontColorBody);
    font: {
       family: var(--fontFamilyBody);
       size: var(--fontSizeBody);
    }
    border-radius: 1rem;
    background: rgba(255,255,255,0.2);
    border: outset 3px var(--scale6);
 }

.hidden { @include hide; }

.text {
    color: var(--fontColorBody);
    font: { size: var(--fontSizeBody); }
}

.inline { 
    display: inline-block !important;

    &.text { padding-right: $defaultPadding; } 
}

.fullWidth { width: 100%; }
.fullHeight { height: 100%; }

.padded { padding: $defaultPadding; }
.spaceBetween {
    div, section, h1, h2, h3 {
        margin: 2px 0;
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.placeholder { @include disabledText; }

.half { width: 50%; }
.quarter { width: 25%; }
.fifth { width: 20%; }

.alignLeft { text-align: left !important; text-align-last: left !important;}
.alignCenter { text-align: center !important; text-align-last: center !important; justify-content: center !important; }
.alignRight { text-align: right !important; text-align-last: right !important;}

.strong { 
    font-weight: var(--fontWeightStrongText);
    text: {
        transform: uppercase;
        shadow: var(--textShadowStrongText);
    }
}
/* #endregion */

/* #region Dot Trackers */
.dotline {
    display: grid;
    grid: {
        area: dotline;
        template: { columns: 1rem 1rem 1rem 1rem 1rem; rows: 1rem; }
    }

    &.labelledDotLine {
        width: 100%;
        grid-template-columns: 1fr 1rem 1rem 1rem 1rem 1rem;
    } 

    &.largeDots {
        grid-template-columns: 1.25rem 1.25rem 1.25rem 1.25rem 1.25rem;
        grid-template-rows: 1.25rem;
        column-gap: 0.5rem;
    }

    &.labelledDotLine.largeDots { 
        grid-template-columns: 1fr 1.25rem 1.25rem 1.25rem 1.25rem 1.25rem;
    }
    
    .dot {
        margin: 7% 7% 0 0;
        border-radius: 50%;
        box-shadow: inset 1px 1px 1px rgba(0,0,0,0.4), inset -1px -1px 1px white;

        &.full {
            background: radial-gradient(#444, #0a0a0a);
            border: solid 2px black;
            box-shadow: 1px 1px 2px black;
        }

        &.unspent {
            background: radial-gradient(#900, #5a0000);
            border: solid 2px #5a0000;
            box-shadow: 1px 1px 2px black;
        }
        
        &.virtueCenter {
            &::after {
                content: "";
                height: 150%;
                width: 150%;
                background: {
                    image: var(--virtueDarkImg);
                    repeat: no-repeat;
                    position: center;
                    size: 100%;
                }
            }

            &.virtueFull::after {
                background-image: var(--virtueGlowImg);
            }
        }
    }
}
/* #endregion */

.title {
    width: calc(100% / var(--fontScaleTitle));
    padding: var(--paddingTitle);
    color: var(--fontColorTitle);
    background: var(--bgTitle);
    font: {
        family: var(--fontFamilyTitle);
        style: var(--fontStyleTitle);
        variant: var(--fontVariantTitle);
        weight: var(--fontWeightTitle);
        size: var(--fontSizeTitle);
    }
    line-height: var(--lineHeightTitle);
    text: {
        transform: var(--textTransformTitle);
        shadow: var(--textShadowTitle);
        align: center;
    }
    transform: scaleX(var(--fontScaleTitle));
    transform-origin: 0% 0%;
    border: none;
}

.surTitle {
    width: calc(100% / var(--fontScaleHeading2));
    padding: var(--paddingHeading2);
    color: var(--fontColorHeading2);
    background: transparent;
    font: {
        family: var(--fontFamilyHeading2);
        style: var(--fontStyleHeading2);
        variant: var(--fontVariantHeading2);
        weight: var(--fontWeightHeading2);
        size: var(--fontSizeHeading2);
    }
    line-height: var(--lineHeightHeading2);
    text: {
        transform: var(--textTransformHeading2);
        shadow: var(--textShadowHeading2);
        align: center;
    }
    transform: scaleX(var(--fontScaleHeading2));
    transform-origin: 0% 0%;
    border: none;
}

.subTitle {    
    width: calc(100% / var(--fontScaleHeading3));
    padding: var(--paddingHeading3);
    color: var(--fontColorHeading3);
    background: var(--bgHeading3);
    font: {
        family: var(--fontFamilyHeading3);
        style: var(--fontStyleHeading3);
        variant: var(--fontVariantHeading3);
        weight: var(--fontWeightHeading3);
        size: var(--fontSizeHeading3);
    }
    line-height: var(--lineHeightHeading3);
    text: {
        transform: var(--textTransformHeading3);
        shadow: var(--textShadowHeading3);
        align: center;
    }
    transform: scaleX(var(--fontScaleHeading3));
    transform-origin: 0% 0%;
    border: none;
}
