/* #region Element Default Styles */
* {
    color: var(--fontColorBody);
    font: {
        family: var(--fontFamilyBody);
        size: 0;
        weight: var(--fontWeightBody);
    }
}

textarea,
input[type="text"],
select {
    margin: 0px;
    padding: 0px;
    box-shadow: none;
    border: none;
    outline: none;

    &:invalid { @include disabledText; }
}
/* #endregion */

/* #region Editable Input Fields */
.contentEditable {
    text-indent: 5px;
    box-shadow: none;
    outline: none;

    &.insetFrame {
        min-height: 27px;
        color: var(--fontColorBody);
        font: {
            family: var(--fontFamilyBody);
            size: var(--fontSizeBody);
            weight: bold;
        }
        border-radius: 1rem;
        background-color: rgba(0,0,0,0.2);
        border: inset 3px var(--scale6);
    }
}

/* #endregion */

/* #region Single-Purpose Classes */
.readonly {
    pointer-events: none;
    resize: none;
    overflow: hidden;
}

.hidden { @include hide; }

.text {
    color: var(--fontColorBody);
    font { size: var(--fontSizeBody); }
}

.inline { 
    display: inline-block !important;

    &.text { padding-right: $defaultPadding; } 
}

.padded { padding: $defaultPadding; }

.placeholder { @include disabledText; }

.half { width: 50%; }
.quarter { width: 25%; }
.fifth { width: 20%; }

.alignLeft { text-align: left !important; text-align-last: left !important;}
.alignCenter { text-align: center !important; text-align-last: center !important; justify-content: center !important; }
.alignRight { text-align: right !important; text-align-last: right !important;}

.strong { 
    font: { weight: bolder; }
    text: { transform: uppercase; shadow: 0.5px 0.5px 1px black; }
}
/* #endregion */

/* #region Dot Trackers */
.dotline {
    display: grid;
    grid: {
        area: dotline;
        template: { columns: 1rem 1rem 1rem 1rem 1rem; rows: 1rem; }
    }

    &.labelledDotLine {
        width: 100%;
        grid-template-columns: 1fr 1rem 1rem 1rem 1rem 1rem;
    } 

    &.largeDots {
        grid-template-columns: 1.25rem 1.25rem 1.25rem 1.25rem 1.25rem;
        grid-template-rows: 1.25rem;
        column-gap: 0.5rem;
    }

    &.labelledDotLine.largeDots { 
        grid-template-columns: 1fr 1.25rem 1.25rem 1.25rem 1.25rem 1.25rem;
    }
    
    .dot {
        margin: 7% 7% 0 0;
        border-radius: 50%;
        box-shadow: inset 1px 1px 1px rgba(0,0,0,0.4), inset -1px -1px 1px white;

        &.full {
            background: radial-gradient(#444, #0a0a0a);
            border: solid 2px black;
            box-shadow: 1px 1px 2px black;
        }

        &.unspent {
            background: radial-gradient(#900, #5a0000);
            border: solid 2px #5a0000;
            box-shadow: 1px 1px 2px black;
        }
        
        &.virtueCenter {
            &::after {
                content: "";
                height: 150%;
                width: 150%;
                background: {
                    image: var(--virtueDarkImg);
                    repeat: no-repeat;
                    position: center;
                    size: 100%;
                }
            }

            &.virtueFull::after {
                background-image: var(--virtueGlowImg);
            }
        }
    }
}
/* #endregion */

.title {
    width: calc(100% / var(--fontScaleTitle));
    padding: var(--paddingTitle);
    color: var(--fontColorTitle);
    background-color: var(--bgColorTitle);
    font: {
        family: var(--fontFamilyTitle);
        style: var(--fontStyleTitle);
        variant: var(--fontVariantTitle);
        weight: var(--fontWeightTitle);
        size: var(--fontSizeTitle);
    }
    line-height: var(--lineHeightTitle);
    text: {
        transform: var(--textTransformTitle);
        shadow: var(--textShadowTitle);
        align: center;
    }
    transform: scaleX(var(--fontScaleTitle));
    transform-origin: 0% 0%;
    border: none;
}

.surTitle {
    width: calc(100% / var(--fontScaleSurTitle));
    padding: var(--paddingSurTitle);
    color: var(--fontColorSurTitle);
    background-color: var(--bgColorSurTitle);
    font: {
        family: var(--fontFamilySurTitle);
        style: var(--fontStyleSurTitle);
        variant: var(--fontVariantSurTitle);
        weight: var(--fontWeightSurTitle);
        size: var(--fontSizeSurTitle);
    }
    line-height: var(--lineHeightSurTitle);
    text: {
        transform: var(--textTransformSurTitle);
        shadow: var(--textShadowSurTitle);
        align: center;
    }
    transform: scaleX(var(--fontScaleSurTitle));
    transform-origin: 0% 0%;
    border: none;
}

.subTitle {    
    width: calc(100% / var(--fontScaleSubTitle));
    padding: var(--paddingSubTitle);
    color: var(--fontColorSubTitle);
    background-color: var(--bgColorSubTitle);
    font: {
        family: var(--fontFamilySubTitle);
        style: var(--fontStyleSubTitle);
        variant: var(--fontVariantSubTitle);
        weight: var(--fontWeightSubTitle);
        size: var(--fontSizeSubTitle);
    }
    line-height: var(--lineHeightSubTitle);
    text: {
        transform: var(--textTransformSubTitle);
        shadow: var(--textShadowSubTitle);
        align: center;
    }
    transform: scaleX(var(--fontScaleSubTitle));
    transform-origin: 0% 0%;
    border: none;
}

h1, h2, h3 { width: 100%; margin: 0; }

h1, h2 { display: block; }

h1 {
    color: var(--fontColorHeading1);
    background-color: var(--bgColorHeading1);
    padding: var(--paddingHeading1);
    font: {
        family: var(--fontFamilyHeading1);
        style: var(--fontStyleHeading1);
        variant: var(--fontVariantHeading1);
        weight: var(--fontWeightHeading1);
        size: var(--fontSizeHeading1);
    }
    text: {
        transform: var(--textTransformHeading1);
        shadow: var(--textShadowHeading1);
    }
    border-bottom: var(--borderBottomHeading1);
}

h2 {
    color: var(--fontColorHeading2);
    background-image: linear-gradient(270deg, var(--scale3), var(--scale7));
    padding: var(--paddingHeading2);
    font: {
        family: var(--fontFamilyHeading2);
        style: var(--fontStyleHeading2);
        variant: var(--fontVariantHeading2);
        weight: var(--fontWeightHeading2);
        size: var(--fontSizeHeading2);
    }
    text: {
        transform: var(--textTransformHeading2);
        shadow: var(--textShadowHeading2);
        indent: 10px;
    }
    border-bottom: var(--borderBottomHeading2);
}

/* h3 { } */

label { margin: 0 0.25rem; }