/* DRAGULA SETUP: 
  Container Object:  
  CONTAINER TYPES:
    - dragContainer









*/


.gu-mirror { // The phantom image showing dragged object's final position.
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
}
.gu-hide { // Attached to hide elements.
  display: none !important;
}
.gu-unselectable { // Attached to make elements unselectable
  user-select: none !important;
}
.gu-transit { // The dragged image held by user's cursor.
  opacity: 0.2;
}
