/* #region FLEX LAYOUTS */
.flex {
    display: flex;
    &.tab:not(.active) { display: none; }
    flex-flow: row wrap;

    
    
    &.flexColumn {
        flex-flow: column nowrap;
        flex-basis: 100%;
        &.fullSize { height: 100%; }
    }
    &.flexRow {
        flex-flow: row nowrap;
        align-items: baseline;
        margin: 5px 0;
        flex-basis: 100%;
        &.fullSize { width: 100%; }
        > nav { flex-grow: 0; }
        > label { flex: 0 0 auto; }
        > .contentEditable { flex: 1 1 100%; }
    }
    &.spaceCenter { justify-content: center; }

    > * { 
        flex: auto; // Default flex for contained elements.
        h1, h2, h3, label { flex: 0 0 auto; }
        .fullSize { flex-basis: 100%; flex-shrink: 0; }
        .fullFlex { flex-basis: 0%; }
     }
    

}    
/* #endregion */

/* #region GRID LAYOUTS */
.grid {    
    display: grid;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    grid-gap: 0;
}
/* #endregion */