& {
    height: 100%;
    width: 100%;
    padding: 18px 60px 38px 45px;
    background-image: var(--bgImage);
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 1;        

    grid: ". nav ." 16px
        "header header header" 96px
        "body body body" 450px
        "footer footer footer" 96px
        / 14% 1fr 14%;
    row-gap: 5px;

    .sheet-tabs { grid-area: nav; }
    .menuRosette {                
        background-image: var(--menuRosetteImg);
        background-size: 90%;
        display: block;
        width: 200px;
        height: 200px;
        content: "";
        position: relative;
        background-repeat: no-repeat;
        left: -100px;
        top: -75px;
        border-radius: 50%;
        background-position: center;
    }
    .header {
        grid-area: header;
        grid: ". divineTitle ." 24px
            ". charName ." 48px
            "patronage patronage patronage" 24px
            / 12% 1fr 12%;

        div { pointer-events: all; }

        .divineTitle { grid-area: divineTitle; line-height: 24px; }
        .charName { grid-area: charName; line-height: 48px; }
        .patronage { grid-area: patronage; line-height: 24px; }
    }
    .footer {grid-area: footer; }
}

/* HOW TO TRIGGER A FUNCTION WHEN AN ANIMATION OR TRANSITION IS COMPLETE:

    $( '.item' ).addClass( 'disappear' ).on( 'webkitAnimationEnd mozAnimationEnd oAnimationEnd oanimationend animationend', () => { $( this ).remove(); });
        // The added "disappear" class contains either an animation or a transition, which starts immediately.
        //    When the animation/transition is finished, the callback function removes the element.
*/