$isShowingBoxFrame: false;
$isShowingTestBorders: false;
$isShowingPadding: false;
$isShowingBGShade: false;

& {
    height: 100%;
    width: 100%;
    padding: 40px 60px 60px 40px;

    @if $isShowingPadding {
        background: {
            color: white;
            image: url("../images/actor-sheet/backgrounds/ActorSheetFrame-Padding.png");
            size: 100%;
            repeat: no-repeat;
        }
    } @else if $isShowingBoxFrame {        
        background: {
            color: white;
            image: url("../images/actor-sheet/backgrounds/ActorSheetFrame.png");
            size: 100%;
            repeat: no-repeat;
        }
    } @else {
        background: {
            color: transparent;
            image: var(--bgActorSheet);
            size: 100%;
            repeat: no-repeat;
        }
    }

    opacity: 1;        

    grid: "menu" 0px
          "header" 90px
          "body" 470px
          "footer" 90px;

    @if $isShowingTestBorders {
        @include box-shadow(2px, lime, true);
        > * { @include box-shadow(6px, orange, true);
            > * { @include box-shadow(4px, cyan, true);
                > * { @include box-shadow(2px, red, true); }
            }
        }
    }

    
    @if $isShowingBGShade {
        @include bg-shade(lime);
        > * { @include bg-shade(orange);
            > * { @include bg-shade(cyan); 
                > * { @include bg-shade(red); }
            }
        }
    }

    .menuRosette {
        grid-area: menu;
        $menuOpenSize: 200px;
        $menuButtonCircleSize: $menuOpenSize * 1.25;
        $menuButtonFullSize: 120px;
        $menuButtonMargin: -20px;
        $numButtons: 5;
        $numButtonsMod: 5;
        
        $iconMain: url("../images/actor-sheet/menu/IconMain.png");
        $iconChargen: url("../images/actor-sheet/menu/IconChargen.png");
        $iconExperience: url("../images/actor-sheet/menu/IconExperience.png");
        $iconSettings: url("../images/actor-sheet/menu/IconSettings.png");
        $iconHeritage: url("../images/actor-sheet/menu/IconHeritage.png");
        
        $menuButtonSize: $menuButtonFullSize + $menuButtonMargin;

        content: "";
        display: block;
        width: $menuOpenSize;
        height: $menuOpenSize;
        position: relative;
        left: $menuOpenSize * (-3/8);
        top: $menuOpenSize * (-3/8);

        background: {
            image: var(--menuImage);
            size: 50%;
            repeat: no-repeat;
            position: center;
        }

        border-radius: 50%;
        pointer-events: all;
        border: none;
        transition: 0.5s;

        &:hover {
            background-size: 100%;
            transform: translate(-20px, -20px);
    
            div.circleMenuContainer {
                transform: scale(1) rotate(0deg);
                opacity: 1;
            }
        }
        .menuText {
            display: block !important;
            height: auto !important;
            width: $menuButtonSize * 2 !important;
            position: relative;
            margin: {
                top: -20px;
                left: $menuButtonSize / -2 !important;
            }
            
            color: var(--colorMenuGlow);
            font: {
                family: var(--fontFamilyMenu);
                size: var(--fontSizeMenu);
                weight: bold;
            }
            text: {
                align: center;
                shadow: -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 2px #000, 1px 1px 2px #000;
                transform: uppercase;
            }
            letter-spacing: 10px;

            opacity: 0;
            transform: scale(2);
            transition: 0.25s !important;
            pointer-events: none;
        }
    
        div.circleMenuContainer {
            @include on-circle(
                $item-count: 8,
                $inner-circle-size: $menuOpenSize,
                $outer-circle-size: $menuButtonCircleSize,
                $item-size: $menuButtonSize,
                $initial-rotation: 135
            );
            transform: scale(0.2) rotate(-125deg) translate(0);
            opacity: 0;
            transition: 0.5s;
    
            .menuButtonContainer {
                @for $i from 1 through $numButtons {
                    &:nth-child(#{$i}) > .menuButton {
                        animation-delay: $i * 1s / $numButtons;
                    }
                }
                div, a {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    background: {
                        size: 100%;
                        position: center;
                    }
                    transition: 0.5s;
                }
                .menuButton {
                    display: inline-block;
                    position: relative;
                    height: 100%;
                    width: 100%;
                    transition: 0.5s;
        
                    @keyframes slowBob {
                        from { top: 0px; }
                        to { top: 10px; }
                    }
                    animation: slowBob 2s cubic-bezier(0.36, 0, 0.63, 1) infinite alternate;

                    &:hover { transform: scale(1.2); }
        
                    .menuIcon {
                        &.iconMain { background-image: $iconMain; }
                        &.iconChargen { background-image: $iconChargen; }
                        &.iconSettings { background-image: $iconSettings; }
                        &.iconExperience { background-image: $iconExperience; }
                        &.iconHeritage { background-image: $iconHeritage; }
                        
                        &:hover { filter: drop-shadow(0 0 10px var(--colorMenuGlow)) drop-shadow(0 0 10px var(--colorMenuGlow)) drop-shadow(0 0 10px var(--colorMenuGlow)); }

                        &:hover + .menuText {
                            letter-spacing: normal;
                            transform: scale(1);
                            opacity: 1;
                        }
                    }
                }
            }
        }


















    }
    .header {
        grid-area: header;
        grid: ". surTitle ." 24px
              ". title ." 50px
              "subTitle subTitle subTitle" 16px
              / 90px 470px 90px;
        
        div { pointer-events: all; }

        .divineTitle { grid-area: surTitle; }
        .charName { grid-area: title; }
        .patronage { grid-area: subTitle; }
    }

    .sheet-body {grid-area: body; }
    
    .footer {
        grid-area: footer;
        grid: "subTitle subTitle subTitle" 15px
              ". title ." 50px
              ". surTitle ." 25px
              / 90px 470px 90px;

        .subTitle { grid-area: subTitle; }
        .title { grid-area: title; }
        .surTitle {grid-area: surTitle; }

    }
}

// HOW TO TRIGGER A FUNCTION WHEN AN ANIMATION OR TRANSITION IS COMPLETE:
//
//    $( '.item' ).addClass( 'disappear' ).on( 'webkitAnimationEnd mozAnimationEnd oAnimationEnd oanimationend animationend', () => { $( this ).remove(); });
//        // The added "disappear" class contains either an animation or a transition, which starts immediately.
//        //    When the animation/transition is finished, the callback function removes the element.