
& {
    --bgColorMatte: #{$c-white};
    --bgImage: url("../images/Generic.png");

    // Body Text
    --fontColorBody: #{$c-black};
    --fontFamilyBody: "#{$fontFamilyBodyDefault}";
    --fontSizeBody: 1rem;
    --fontWeightBody: bold;

    // Title: Character Name
    --fontColorTitle: #{$c-black};
    --bgColorTitle: transparent;
    --fontFamilyTitle: "#{$fontFamilyTitleDefault}";
    --fontStyleTitle: normal;
    --fontVariantTitle: normal;
    --fontWeightTitle: normal;
    --textTransformTitle: none;
    --fontSizeTitle: 2.5rem;
    --paddingTitle: 0;
    --lineHeightTitle: var(--fontSizeTitle);
    --textShadowTitle: -1px -1px 0px rgba(0, 0, 0, 0.5), 1px 1px 0px rgba(255, 255, 255, 0.5);

    // SurTitle: Divine Title
    --fontColorSurTitle: var(--fontColorTitle);
    --bgColorSurTitle: var(--bgColorTitle);
    --fontFamilySurTitle: var(--fontFamilyBody);
    --fontStyleSurTitle: normal;
    --fontVariantSurTitle: normal;
    --fontWeightSurTitle: normal;
    --textTransformSurTitle: none;
    --fontSizeSurTitle: 1.5rem;
    --paddingSurTitle: 0;
    --lineHeightSurTitle: var(--fontSizeSurTitle);
    --textShadowSurTitle: var(--textShadowTitle);

    // SubTitle: Divine Patronage
    --fontColorSubTitle: var(--fontColorTitle);
    --bgColorSubTitle: var(--bgColorTitle);
    --fontFamilySubTitle: "#{$fontFamilyTitleDefault}";
    --fontStyleSubTitle: normal;
    --fontVariantSubTitle: normal;
    --fontWeightSubTitle: bold;
    --textTransformSubTitle: none;
    --fontSizeSubTitle: 1rem;
    --paddingSubTitle: 0;
    --lineHeightSubTitle: var(--fontSizeSubTitle);
    --textShadowSubTitle: var(--textShadowTitle);

    // Heading 1
    --fontColorHeading1: var(--fontColorTitle);
    --bgColorHeading1: transparent;
    --fontFamilyHeading1: var(--fontFamilyTitle);
    --fontStyleHeading1: normal;
    --fontVariantHeading1: small-caps;
    --fontWeightHeading1: normal;
    --textTransformHeading1: none;
    --fontSizeHeading1: 1.75rem;
    --paddingHeading1: 0;
    --lineHeightHeading1: var(--fontSizeHeading1);
    --textShadowHeading1: -1px -1px 0px rgba(0, 0, 0, 0.5), 1px 1px 0px rgba(255, 255, 255, 0.5);
    --borderBottomHeading1: 2px solid var(--fontColorHeading1);

    // Heading 2
    --fontColorHeading2: var(--fontColorSubTitle);
    --bgColorHeading2: transparent;
    --fontFamilyHeading2: var(--fontFamilyBody);
    --fontStyleHeading2: normal;
    --fontVariantHeading2: normal;
    --fontWeightHeading2: bold;
    --textTransformHeading2: none;
    --fontSizeHeading2: 1.25rem;
    --paddingHeading2: 0;
    --lineHeightHeading2: var(--fontSizeHeading2);
    --textShadowHeading2: none;
    --borderBottomHeading2: none;

    // Heading 3
    --fontColorHeading3: var(--fontColorSubTitle);
    --bgColorHeading3: transparent;
    --fontFamilyHeading3: var(--fontFamilyBody);
    --fontStyleHeading3: normal;
    --fontVariantHeading3: normal;
    --fontWeightHeading3: bold;
    --textTransformHeading3: none;
    --fontSizeHeading3: 1rem;
    --paddingHeading3: 0;
    --lineHeightHeading3: var(--fontSizeHeading3);
    --textShadowHeading3: none;
    --borderBottomHeading3: none;
}

.aesir {
    --fontFamilyTitle: "Amarante";
}

// .deva { }

// .kami { }

.loa {
    --bgImage: url("../images/Orisha.png");
    --fontFamilyTitle: "Finger Paint";
    --fontSizeTitle: 2rem;
}

// .manitou { }

.netjer {
    $matteColor: #f6f0e2;
    $headingColor1: #554a39;
    $headingColor2: #6e4a28;
    $accentColor: #834107;
    $bodyColor: #2d2d2f;

    --fontColorBody: #{$bodyColor};

    --bgImage: url("../images/Netjer.png");
    --bgColorMatte: #{$matteColor};
    --bgColorSoft: #{scale-color($accentColor, $lightness: 80%, $saturation: 35%)};
    --bgColorStrong: #{scale-color($accentColor, $lightness: 50%, $saturation: 35%)};


    --fontColorTitle: #{$headingColor1};
    --fontFamilyTitle: "Yatra One";

    --fontColorSubTitle: #{$headingColor2};
    --fontFamilySubTitle: "Reem Kufi";
    --fontSizeSubTitle: 1.25rem;
    --lineHeightSubTitle: 1.65rem;

    --fontColorSurTitle: #{$headingColor1};
    --fontWeightSurTitle: bold;

    --fontColorHeading1: var(--fontColorSubTitle);
    --borderBottomHeading1: 1px solid var(--fontColorHeading);

    @include scaled-colors($accentColor);
}

// .shen { }

.teotl {
    --fontFamilyTitle: "Pirata One";
 }

.theoi {
    --fontFamilyTitle: "Poiret One";
    --fontWeightTitle: "bold";

    --fontFamilySubTitle: "Della Respira";
}

.tuathaDeDanann {
    $matteColor: #efffd1;
    $headingColor1: #296f17;
    $headingColor2: #19430e;
    $accentColor: #25951f;
    $bodyColor: #1a211d;

    --bgImage: url("../images/Tuatha.png");
    --bgColorMatte: #{$matteColor};
    --bgColorSoft: #{scale-color($accentColor, $lightness: 80%, $saturation: 35%)};
    --bgColorStrong: #{scale-color($accentColor, $lightness: 50%, $saturation: 35%)};
    
    --fontColorTitle: #{$headingColor1};
    --fontFamilyTitle: "Berkshire Swash";
    --fontColorHeading1: var(--fontColorTitle);
    --fontFamilyHeading1: var(--fontFamilyTitle);
    --borderBottomHeading1: 2px solid var(--fontColorTitle);
    --fontVariantHeading1: normal;
    --fontSizeTitle: 2rem;

    --fontColorSubTitle: #{$headingColor2};
    --fontFamilySubTitle: "Della Respira";
    --fontStyleSubTitle: italic;

    --fontColorSurTitle: #{$headingColor1};
    --fontWeightSurTitle: bold;

    --fontColorBody: #{$bodyColor};
    
    @include scaled-colors($accentColor);
}

// .nemetondevos { }

.orisha {
    --bgImage: url("../images/Orisha.png");
    --fontFamilyTitle: "Finger Paint";
    --fontSizeTitle: 2rem;
}

// .yazata { }