& {
    *[class*="subBlock"] {
        margin: 3px;

        align: { content: start; self: start; }

        > span { 
            margin: 1px;
            &.skill:not(.empty) { @include box-shadow(1px, 3px, var(--greyDown2), false, 1); }            
        }
    }
}

