& {
    background: var(--accentUp4Fade50);
    border-radius: 25px;
    border: 2px solid var(--accentDown2);
    box-shadow: 4px 4px 4px var(--accentDown3);
    margin: 3px 0;
    overflow: hidden;

    > h2 { text-indent: 12px; }

    .pathContainer { 
        padding: 0 0 3px 3px;
        
        *[class*="subBlock"] {
            margin: 3px;

            align: { content: start; self: start; }

            &[class*="skills"] {
                > span { 
                    margin: 2px;
                    &.skill:not(.empty) { @include box-shadow(1px, 3px, var(--greyDown2), false, 1); }
                    &.skill.pantheon {
                        filter: invert(100%);
                        border-style: inset;
                        border-color: var(--greyUp3);
                        box-shadow: 2px 2px 5px var(--greyUp2), 2px 2px 5px var(--greyUp2), 2px 2px 5px var(--greyUp2);
                    }
                }       
            }

            &[class*="details"] {
                min-height: 84px;

                .connectionDescription { 
                    margin: 0 0 auto 0 !important; 
                    max-height: 50px;
                    overflow: hidden;
                    text-overflow: ellipsis;

                }
                .conditionContainer {
                    .conditionSummary {
                        display: inline-block;
                        padding: 3px;
                        margin: 0;

                        &:nth-child(4) {
                            background-color: var(--accentDown2);
                            color: white;
                        }            
                    }
                }
            }
        }
    }
}