
<!DOCTYPE html>
<html>
  <body class="scionactorsheet sheet-body">
    <div class="window-content">
      <div class="form-sheet">
        <div class="w-layout-grid form-header"></div>
        <div class="w-layout-grid form-tabfront">
          <div class="front-attributes">
            <h1>Attributes</h1>
            <div class="attrs-attrblock">
              <div data-value="123" class="attrdotline">
                <div class="attrlabel">Presence</div>
                <div class="dot dot1"></div>
                <div class="dot dot2"></div>
                <div class="dot dot3"></div>
                <div class="dot dot4"></div>
                <div class="dot dot5"></div>
              </div>
              <div data-value="123" class="attrdotline">
                <div class="attrlabel">Manipulation</div>
                <div class="dot dot1"></div>
                <div class="dot dot2"></div>
                <div class="dot dot3"></div>
                <div class="dot dot4"></div>
                <div class="dot dot5"></div>
              </div>
              <div data-value="123" class="attrdotline">
                <div class="attrlabel">Composure</div>
                <div class="dot dot1"></div>
                <div class="dot dot2"></div>
                <div class="dot dot3"></div>
                <div class="dot dot4"></div>
                <div class="dot dot5"></div>
              </div>
            </div>
            <div class="attrs-attrblock">
              <div data-value="123" class="attrdotline">
                <div class="attrlabel">Might</div>
                <div class="dot dot1"></div>
                <div class="dot dot2"></div>
                <div class="dot dot3"></div>
                <div class="dot dot4"></div>
                <div class="dot dot5"></div>
              </div>
              <div data-value="123" class="attrdotline">
                <div class="attrlabel">Dexterity</div>
                <div class="dot dot1"></div>
                <div class="dot dot2"></div>
                <div class="dot dot3"></div>
                <div class="dot dot4"></div>
                <div class="dot dot5"></div>
              </div>
              <div data-value="123" class="attrdotline">
                <div class="attrlabel">Stamina</div>
                <div class="dot dot1"></div>
                <div class="dot dot2"></div>
                <div class="dot dot3"></div>
                <div class="dot dot4"></div>
                <div class="dot dot5"></div>
              </div>
            </div>
            <div class="attrs-attrblock">
              <div data-value="123" class="attrdotline">
                <div class="attrlabel">Presence</div>
                <div class="dot dot1"></div>
                <div class="dot dot2"></div>
                <div class="dot dot3"></div>
                <div class="dot dot4"></div>
                <div class="dot dot5"></div>
              </div>
              <div data-value="123" class="attrdotline">
                <div class="attrlabel">Manipulation</div>
                <div class="dot dot1"></div>
                <div class="dot dot2"></div>
                <div class="dot dot3"></div>
                <div class="dot dot4"></div>
                <div class="dot dot5"></div>
              </div>
              <div data-value="123" class="attrdotline">
                <div class="attrlabel">Composure</div>
                <div class="dot dot1"></div>
                <div class="dot dot2"></div>
                <div class="dot dot3"></div>
                <div class="dot dot4"></div>
                <div class="dot dot5"></div>
              </div>
            </div>
          </div>
          <div class="front-paths">
            <h1 class="heading-2">Paths</h1>
            <div class="path-block">
              <h2 class="path-block-h2">Role: &quot;No Heaven Frontman&quot;</h2>
              <div class="flex">
                <div class="path-block-skills">
                  <div class="path-block-skills-skill">
                    <div>Close Combat</div>
                  </div>
                  <div class="path-block-skills-skilldivider">
                    <div>🍀</div>
                  </div>
                  <div class="path-block-skills-skill">
                    <div>Subterfuge</div>
                  </div>
                  <div class="path-block-skills-skilldivider">
                    <div>🍀</div>
                  </div>
                  <div class="path-block-skills-skill">
                    <div>Culture</div>
                  </div>
                </div>
                <div class="path-block-condition">
                  <div class="path-block-condition-text"><span><strong class="strongtext">“Tone Deaf”</strong></span>— -2 penalty to all Culture (Music) rolls.  Resolved when Rhys suffers significant consequences from failing a Culture (Music) roll.</div>
                </div>
                <div class="path-block-connections">
                  <div class="connection">
                    <div class="dotline"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="path-block">
              <h2 class="path-block-h2">Origin: &quot;Carefree Wanderer with Luck on His Side&quot;</h2>
              <div class="flex">
                <div class="path-block-skills">
                  <div class="path-block-skills-skill">
                    <div>Close Combat</div>
                  </div>
                  <div class="path-block-skills-skilldivider">
                    <div>🍀</div>
                  </div>
                  <div class="path-block-skills-skill">
                    <div>Subterfuge</div>
                  </div>
                  <div class="path-block-skills-skilldivider">
                    <div>🍀</div>
                  </div>
                  <div class="path-block-skills-skill">
                    <div>Culture</div>
                  </div>
                </div>
                <div class="path-block-condition">
                  <div class="path-block-condition-text"><span><strong class="strongtext">“Tone Deaf”</strong></span>— -2 penalty to all Culture (Music) rolls.  Resolved when Rhys suffers significant consequences from failing a Culture (Music) roll.</div>
                </div>
                <div class="path-block-connections">
                  <div class="connection">
                    <div class="dotline"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="path-block">
              <h2 class="path-block-h2">Pantheon: &quot;Scion of Aengus, Step-Scion of the Morrigan&quot;</h2>
              <div class="flex">
                <div class="path-block-skills">
                  <div class="path-block-skills-skill">
                    <div>Close Combat</div>
                  </div>
                  <div class="path-block-skills-skilldivider">
                    <div>🍀</div>
                  </div>
                  <div class="path-block-skills-skill">
                    <div>Subterfuge</div>
                  </div>
                  <div class="path-block-skills-skilldivider">
                    <div>🍀</div>
                  </div>
                  <div class="path-block-skills-skill">
                    <div>Culture</div>
                  </div>
                </div>
                <div class="path-block-condition">
                  <div class="path-block-condition-text"><span><strong class="strongtext">“Tone Deaf”</strong></span>— -2 penalty to all Culture (Music) rolls.  Resolved when Rhys suffers significant consequences from failing a Culture (Music) roll.</div>
                </div>
                <div class="path-block-connections">
                  <div class="connection">
                    <div class="dotline"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="front-virtues">
            <h3 class="virtueone">Honor</h3>
            <div data-value="123" class="w-layout-grid grid-2">
              <div data-value="123" class="dot dot1"></div>
              <div data-value="123" class="dot dot1"></div>
              <div data-value="123" class="dot dot1"></div>
              <div data-value="123" class="dot dot1"></div>
              <div data-value="123" class="dot dot1"></div>
            </div>
            <h3 class="virtuetwo">Prowess</h3>
          </div>
          <div class="front-skills">
            <h1 class="center">Skills</h1>
            <div data-value="123" class="attrdotline">
              <div class="attrlabel">Athletics</div>
              <div class="dot dot1"></div>
              <div class="dot dot2"></div>
              <div class="dot dot3"></div>
              <div class="dot dot4"></div>
              <div class="dot dot5"></div>
            </div>
            <div data-value="123" class="attrdotline">
              <div class="attrlabel">Culture</div>
              <div class="dot dot1"></div>
              <div class="dot dot2"></div>
              <div class="dot dot3"></div>
              <div class="dot dot4"></div>
              <div class="dot dot5"></div>
            </div>
            <div data-value="123" class="attrdotline">
              <div class="attrlabel">Close Combat </div>
              <div class="dot dot1"></div>
              <div class="dot dot2"></div>
              <div class="dot dot3"></div>
              <div class="dot dot4"></div>
              <div class="dot dot5"></div>
            </div>
            <div data-value="123" class="attrdotline">
              <div class="attrlabel">Empathy</div>
              <div class="dot dot1"></div>
              <div class="dot dot2"></div>
              <div class="dot dot3"></div>
              <div class="dot dot4"></div>
              <div class="dot dot5"></div>
            </div>
            <div data-value="123" class="attrdotline">
              <div class="attrlabel">Subterfuge</div>
              <div class="dot dot1"></div>
              <div class="dot dot2"></div>
              <div class="dot dot3"></div>
              <div class="dot dot4"></div>
              <div class="dot dot5"></div>
            </div>
            <div data-value="123" class="attrdotline">
              <div class="attrlabel">Leadership</div>
              <div class="dot dot1"></div>
              <div class="dot dot2"></div>
              <div class="dot dot3"></div>
              <div class="dot dot4"></div>
              <div class="dot dot5"></div>
            </div>
            <div data-value="123" class="attrdotline">
              <div class="attrlabel">Persuasion</div>
              <div class="dot dot1"></div>
              <div class="dot dot2"></div>
              <div class="dot dot3"></div>
              <div class="dot dot4"></div>
              <div class="dot dot5"></div>
            </div>
            <div data-value="123" class="attrdotline">
              <div class="attrlabel">Survival</div>
              <div class="dot dot1"></div>
              <div class="dot dot2"></div>
              <div class="dot dot3"></div>
              <div class="dot dot4"></div>
              <div class="dot dot5"></div>
            </div>
            <div data-value="123" class="attrdotline">
              <div class="attrlabel">Integrity</div>
              <div class="dot dot1"></div>
              <div class="dot dot2"></div>
              <div class="dot dot3"></div>
              <div class="dot dot4"></div>
              <div class="dot dot5"></div>
            </div>
          </div>
          <div class="front-callings">
            <h1 class="heading-8">Callings</h1>
            <div class="calling-block">
              <div class="callingblock">
                <div class="calling">
                  <div class="attrlabel calling">Lover</div>
                  <div class="dotline">
                    <div class="dot full"></div>
                    <div class="dot full"></div>
                    <div class="dot full"></div>
                  </div>
                </div>
                <h4 class="calling-keyword usedkey">Euphoria</h4>
                <h4 class="calling-keyword">Temptation, Desire</h4>
              </div>
              <div class="callingblock">
                <div class="calling">
                  <div class="attrlabel calling">Trickster</div>
                  <div class="dotline">
                    <div class="dot full"></div>
                  </div>
                </div>
                <h4 class="calling-keyword">Impulsivity</h4>
              </div>
              <div class="callingblock">
                <div class="calling">
                  <div class="attrlabel calling">Liminal</div>
                  <div class="dotline">
                    <div class="dot full"></div>
                  </div>
                </div>
                <h4 class="calling-keyword">Diplomacy</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
