/* ==========================================================================
Start of custom Webflow CSS
========================================================================== */
.w-layout-grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

h1 {
    margin-top: 0px;
    margin-bottom: 5px;
    border-bottom: 2px solid #000;
    font-family: 'Overlock SC', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 700;
    object-fit: none;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 2px solid #000;
    font-family: 'Overlock SC', sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
}

h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    align-self: flex-start;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
}

h4 {
    display: block;
    overflow: visible;
    width: 100%;
    min-width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
    object-fit: fill;
}

p {
    margin-bottom: 10px;
}

.form-sheet {
    position: static;
    left: 0px;
    top: 0px;
    display: grid;
    width: 750px;
    height: 750px;
    padding: 40px 60px 60px 40px;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas: "header"
    "body";
    grid-template-columns: 650px;
    grid-template-rows: 90px 560px;
    border: 28px none #000;
    background-color: transparent;
    background-image: url("https://uploads-ssl.webflow.com/5fc4b2c269f4ae83f3062bd0/5fc5164878fee836c4d7fcde_Tuatha.png");
    background-position: 0px 0px;
    background-size: auto;
    object-fit: scale-down;
}

.body {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.scionactorsheet.sheet-body {
    display: block;
    margin-bottom: 0px;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    font-family: 'Overlock SC', sans-serif;
}

.header.path {
    display: block;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.25fr;
}

.path-block {
    overflow: hidden;
    margin: 0px;
    padding: 0px 5px 5px;
    align-self: auto;
    flex: 0 auto;
    border: 4px none #000;
    border-radius: 0px;
    background-color: transparent;
    background-clip: border-box;
}

.path-block-h2 {
    margin-right: -5px;
    margin-left: -5px;
    padding-top: 3px;
    padding-bottom: 0px;
    padding-left: 5px;
    background-color: #b6d7a8;
    font-size: 16px;
    line-height: 16px;
    text-indent: 0px;
}

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;
}

.path-block-skills {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    justify-content: flex-start;
    align-items: baseline;
}

.path-block-skills-skill {
    margin-right: 5px;
    margin-left: 5px;
    padding: 0px;
    border-radius: 25px;
    background-color: transparent;
    font-family: Oswald, sans-serif;
    color: #000;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    object-fit: none;
}

.path-block-skills-skilldivider {
    align-self: baseline;
    flex: 0 auto;
}

.path-block-connections {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

.path-block-condition {
    display: block;
    margin-right: 0px;
    font-family: 'Overlock SC', sans-serif;
    color: #000;
    line-height: 14px;
}

.path-block-condition h2 {
    display: inline-block;
}

.path-block-condition p {
    display: inline-block;
}

.path-block-condition-text {
    font-family: 'Overlock SC', sans-serif;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    text-shadow: 0 0 0 #000;
}

.strongtext {
    display: inline-block;
    margin-right: 3px;
}

.connection {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;
}

.dotline {
    display: -ms-grid;
    display: grid;
    height: 20px;
    margin-left: 8px;
    grid-auto-flow: column;
    grid-auto-columns: 16px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: 16px;
    grid-template-rows: 16px;
}

.heading {
    margin-bottom: 10px;
    border: 1px none #000;
    background-image: -webkit-gradient(linear, left top, right top, from(green), color-stop(33%, #0f0), color-stop(66%, #0f0), to(green));
    background-image: linear-gradient(90deg, green, #0f0 33%, #0f0 66%, green);
    font-size: 24px;
    line-height: 24px;
    text-align: center;
}

.grid {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.window-content {
    position: absolute;
    left: 100px;
    top: 100px;
    width: 750px;
    height: 750px;
    padding-right: 0px;
    padding-left: 0px;
    text-shadow: 0 0 0 #000;
}

.form-header {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas: ". surTitle ."
    ". title ."
    "subTitle subTitle subTitle";
    grid-template-columns: 90px 470px 90px;
    grid-template-rows: 24px 50px 16px;
}

.form-tabfront {
    grid-column-gap: 0px;
    grid-row-gap: 3px;
    grid-template-areas: "attributes attributes paths paths"
    "virtues virtues paths paths"
    "skills skills skills skills"
    ". callings callings .";
    grid-template-columns: 90px 125px 345px 90px;
    grid-template-rows: 310px 60px 100px 75px;
}

.front-paths {
    overflow: hidden;
}

.form-body-front {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

.section {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 8px;
    grid-row-gap: 0px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
}

.front-attributes {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 8px 32px;
        flex-direction: column;
    justify-content: flex-start;
}

.front-virtues {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;
    justify-content: space-between;
    align-items: center;
    order: 1;
    flex: 1;
}

.front-skills {
    display: -ms-grid;
    display: grid;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: start;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 29px;
}

.attrs-attrblock {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    margin-bottom: 16px;
    padding-left: 0px;
        flex-direction: column;
    justify-content: space-around;
    flex: 0.1 auto;
}

.attrdotline {
    display: -ms-grid;
    display: grid;
    width: auto;
    height: auto;
    margin-top: 3px;
    padding-top: 0px;
    padding-bottom: 3px;
    flex: 0 auto;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas: "name";
    grid-template-columns: 1fr 1rem 1rem 1rem 1rem 1rem;
    grid-template-rows: 1rem;
    object-fit: none;
}

.attrlabel {
    padding-right: 0px;
    color: #000;
    font-size: 1rem;
    line-height: 1rem;
}

.attrlabel.calling {
    display: block;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
}

.heading-2 {
    order: 0;
    flex: 0 auto;
}

.html-embed {
    display: none;
}

.grid-2 {
    grid-column-gap: 4px;
    grid-row-gap: 0px;
    grid-template-columns: 24px 24px 24px 24px 24px;
    grid-template-rows: 24px;
}

.virtuetwo {
    align-self: flex-end;
}

.front-callings {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
}

.heading-3 {
    text-align: center;
}

.center {
    text-align: center;
}

.calling {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
        flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    flex: 0 0 auto;
    grid-auto-columns: 1fr;
    grid-template-areas: "label label label label label Area";
    grid-template-columns: 18px 18px 18px 18px 18px;
    grid-template-rows: 18px 18px 18px;
}

.calling.attrdotline {
    height: 100%;
    align-content: space-around;
    grid-template-columns: 60px 1rem 1rem 1rem 1rem 1rem;
}

.heading-4 {
    text-align: center;
}

.heading-5 {
    display: block;
    margin-top: 4px;
    line-height: 16px;
    text-align: center;
}

.calling-keyword {
    width: auto;
    min-width: auto;
    text-align: center;
}

.calling-keyword.strong {
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
}

.calling-keyword.usedkey {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}

.heading-6 {
    text-align: center;
}

.div-block {
    flex: 0 auto;
}

.heading-7 {
    flex: 1;
}

.heading-8 {
    width: 100%;
    text-align: center;
}

.calling-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: stretch;
    flex: 1;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

.callingblock {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .form-tabfront {
    grid-template-areas: "attributes attributes paths paths"
        "virtues virtues paths paths"
        "skills skills skills skills"
        ". Callings Knacks .";
    }
}