$c-white: rgba(255, 255, 255, 1);
$c-grey: rgba(128, 128, 128, 1);
$c-black: rgba(0, 0, 0, 1);
$c-yellow: rgba(255, 255, 0, 1);
$c-gold: rgba(255, 196, 0, 1);

$matteColor: $c-white;
$titleColor: $c-black;
$titleBG: transparent;
$headingColor1: $c-black;
$headingBG1: transparent;
$headingColor2: $c-black;
$headingBG2: linear-gradient(270deg, var(--scale3), var(--scale7));
$headingColor3: $c-black;
$headingBG3: transparent;
$accentColor: $c-gold;
$bodyColor: $c-black;
$highlightColor: $c-white;
$shadowColor: $c-black;
$hueRotatePurview: 0deg;

@mixin scaled-colors ($baseColor, $name: "scale", $isGreyscale: false) {
    @for $i from 0 through 10 {
      $thisScale: 10% * ($i * 2 - 10);
      $thisColor: scale-color($baseColor, $lightness: $thisScale, $saturation: $thisScale);
      @if $isGreyscale { $thisColor: scale-color($baseColor, $lightness: $thisScale); }
      $thisHalfColor: scale-color($thisColor, $alpha: -50%);
      $thisQuarterColor: scale-color($thisColor, $alpha: -75%);

      --#{$name}#{$i}: #{$thisColor};
      --#{$name}Fade#{$i}: #{$thisHalfColor};
      --#{$name}FullFade#{$i}: #{$thisQuarterColor};
    }
}