/* #region FLEX LAYOUTS */
.alignLeft { text-align: left !important; text-align-last: left !important; align-items: start !important; margin-right: auto; }
.alignCenter { text-align: center !important; text-align-last: center !important; text-indent: 0 !important; margin-left: auto; margin-right: auto; }
.alignRight { text-align: right !important; text-align-last: right !important; align-items: end !important; margin-left: auto; }



*[class*="flex"] {
    display: flex;
    flex: {
        direction: row;
        wrap: wrap;
    }
    justify-content: flex-start;
    align: {
        content: flex-start;
        items: flex-start;
    }

    &[class*="col"] {
        flex: {
            direction: column;
            wrap: nowrap;
        }
        &.alignCenter { align-content: center !important; align-items: center !important; }
        &.alignLeft { align-content: flex-start !important; align-items: flex-start !important; }
        &.alignRight { align-content: flex-end !important; align-items: flex-end !important; }

        > h1, .h1, h2, .h2, h3, .h3 { flex: 0 0 auto; }
        > label { flex: 0 0 auto; }
        > .contentEditable { flex: 1 0 auto; }
    }

    &[class*="row"] {
        flex: {
            direction: row;
            wrap: nowrap;
        }
        &.alignCenter { justify-content: center !important; }
        &.alignLeft { justify-content: flex-start !important; }
        &.alignRight { justify-content: flex-end !important; }

        > h1, .h1, h2, .h2, h3, .h3 { flex: 0 0 100%; }
        > label { flex: 0 0 auto; }
        > .contentEditable { flex: 1 1 auto; }
    }

    &[class*="wrap"] { flex-wrap: wrap !important; }
    &[class*="nowrap"] { flex-wrap: nowrap !important; }
    
    &[class*="stretch"] { align-items: stretch !important; align-content: stretch !important; }
    &[class*="spaceBetween"] { justify-content: space-between !important; align-content: space-between !important; }
    &[class*="spaceAround"] { justify-content: space-around !important; align-content: space-around !important; }
    &[class*="spaceEven"] { justify-content: space-evenly !important; align-content: space-around !important; }
    &[class*="start"] {
        &:not([class*="Cross"]) { justify-content: flex-start !important; }
        &[class*="Cross"] { align-items: flex-start !important; align-content: flex-start !important; }
    }
    &[class*="end"] {
        &:not([class*="Cross"]) { justify-content: flex-end !important; }
        &[class*="Cross"] { align-items: flex-end !important; align-content: flex-end !important; }
    }

    > *[class*="noFlex"] { flex: 0 0 auto !important; }
    > *[class*="fullFlex"] { flex: 1 1 auto !important; }
}
 /* #endregion */
 
 /* #region GRID LAYOUTS */
 .grid {    
     display: grid;
     height: 100%;
     width: 100%;
     margin: 0;
     padding: 0;
     border: none;
     grid-gap: 0;
 }
 /* #endregion */