/* #region FLEX LAYOUTS */
// .alignLeft { text-align: left !important; text-align-last: left !important; align-items: start !important; margin-right: auto; }
// .alignCenter { text-align: center !important; text-align-last: center !important; text-indent: 0 !important; margin-left: auto; margin-right: auto; }
// .alignRight { text-align: right !important; text-align-last: right !important; align-items: end !important; margin-left: auto; }

*[class*="flex"] {
    display: flex;
    flex: {
        direction: row;
        wrap: wrap;
    }
    justify-content: flex-start;
    align: {
        content: flex-start;
        items: flex-start;
    }

    &[class*="col"] {
        flex: {
            direction: column;
            wrap: nowrap;
        }
        &.alignCenter { align-content: center; align-items: center; }
        &.alignLeft { align-content: flex-start; align-items: flex-start; }
        &.alignRight { align-content: flex-end; align-items: flex-end; }

        > h1, .h1, h2, .h2, h3, .h3 { flex: 0 0 auto; }
        > label { flex: 0 0 auto; }
        > .contentEditable { flex: 1 0 auto; }

        &[class*="space"] {
            > div, section, h1, .h1, h2, .h2, h3, .h3 {
                margin: 2px 0;
                &:first-child { margin-top: 0; }
                &:last-child { margin-bottom: 0; }
            }
        }
    }

    &[class*="row"] {
        flex: {
            direction: row;
            wrap: nowrap;
        }
        &.alignCenter { justify-content: center; }
        &.alignLeft { justify-content: flex-start; }
        &.alignRight { justify-content: flex-end; }

        > h1, .h1, h2, .h2, h3, .h3 { flex: 0 0 100%; }
        > label { flex: 0 0 auto; }
        > .contentEditable { flex: 1 1 auto; }

        &[class*="baseline"] { align-items: baseline; }
    }

    &[class*="wrap"] { flex-wrap: wrap; }
    &[class*="nowrap"] { flex-wrap: nowrap; }
    
    &[class*="stretch"] { align-items: stretch; align-content: stretch; }
    &[class*="spaceBetween"] { justify-content: space-between; align-content: space-between; }
    &[class*="spaceAround"] { justify-content: space-around; align-content: space-around; }
    &[class*="spaceEven"] { justify-content: space-evenly; align-content: space-around; }
    &[class*="start"] {
        &:not([class*="cross"]) { justify-content: flex-start; }
        &[class*="cross"] { align-items: flex-start; align-content: flex-start; }
    }
    &[class*="center"] {
        &:not([class*="cross"]) { justify-content: center; }
        &[class*="cross"] { align-items: center; align-content: center; }
    }
    &[class*="end"] {
        &:not([class*="cross"]) { justify-content: flex-end; }
        &[class*="cross"] { align-items: flex-end; align-content: flex-end; }
    }

    > *[class*="noFlex"] { flex: 0 0 auto; }
    > *[class*="fullFlex"] { flex: 1 1 auto; }
}
 /* #endregion */
 
 /* #region GRID LAYOUTS */
 .grid {    
     display: grid;
     height: 100%;
     width: 100%;
     margin: 0;
     padding: 0;
     border: none;
     grid-gap: 0;
 }
 /* #endregion */