<div class="heading1">{{localize "scion.headings.charGenStep2"}}</div>
{{#each paths as |thispath id|}}
    {{#with ../blocks as | blocks |}}
    {{> (blocks.items.path.template) thispath}}
    {{/with}}
{{/each}}