<div class="chargenTwo flex-col width100 alignCenter padded">
    <h1 class="alignLeft">{{loc "scion.heading.chargen.stepTwo"}}</h1>
    <div id="pathMirror" class="pathContainer mirrorContainer"></div>
    <div id="pathContainer" class="pathContainer width100">
    {{#each items.paths as |path id|}}
        {{#with ../blocks as | blocks |}}
        {{> (blocks.partials.path.template) path}}
        {{/with}}
    {{/each}}
    </div>
    <h1 class="alignCenter width90">{{loc "scion.heading.chargen.stepTwoA"}}</h1>
    <div class="skillSummary flex-row-center-spaceEven width90 alignCenter">        
        <div class="skills flex-col-start height100">
            {{#each pathSkills as |value skill|}}
            {{#if (test (test @index "==" 3) "||" (test @index "==" 6))}}</div><div class="skills flex-col-start height100">{{/if}}
            <div class="dotline">
                <div class="label">{{loc (concat "scion.skill." skill)}}</div>
                <div class="dotContainer">
                    {{#for value}}
                        <span class="dot"></span>
                    {{/for}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>