<div class="chargenTwo flex-col-max padded">
    <h1>{{loc "scion.heading.chargen.stepTwo"}}</h1>
    <div id="pathContainer" class="width100">
    {{#each items.paths as |path id|}}
        {{#with ../blocks as | blocks |}}
        {{> (blocks.ownedItems.path.template) path}}
        {{/with}}
    {{/each}}
    </div>
</div>