<div class="flex flexContainer column chargenTwo">
    <div class="heading1">{{localize "scion.headings.chargen.stepTwo"}}</div>
    {{#each paths as |path id|}}
        {{#with ../blocks as | blocks |}}
        {{> (blocks.ownedItems.path.template) path}}
        {{/with}}
    {{/each}}
</div>