<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        {{!-- <img class="sheet-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/> --}}
        <div class="header-fields">
                <div class="itemName text title {{#if data.isEditable.title}}contentEditable{{/if}}" data-path="data.title"></div>
                
                <input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <h2>This is a Path sheet!</h2>
    </section>
</form>
