<div class="path-block">
    <div class="heading2">{{name}}</div>
    {{!-- <div class="path-concept">{{concept}}</div>
    <div class="flexRow path-skills">
        <div>One</div>
        <div>Two</div>
        <div>Three</div>
    </div>
    <div class="flexRow path-connections">
        <div>Group</div>
        <div>Contact</div>
        <div>Access</div>
    </div>
    <div class="path-conditions"></div> --}}
</div>